{% extends "templates/base.html" %}

{% block title%}О компании{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li class="active">О компании</li>
	</ul>
</div>
<div class="separator"></div>
<section class="info-block">
	<h1>О компании</h1>
	<p>Группа компаний «Сфера» с 2007 года осуществляет поставку запасных частей для землеройной спецтехники импортного производства. На сегодняшний день  мы поставляем широкий ассортимент запасных частей для бульдозеров, грейдеров, гусеничных и колёсных экскаваторов таких известных брендов, как Caterpillar (Cat), Komatsu, Liebherr, Kobelco, JCB, Mitsubishi, Sumitomo, Volvo, Hyundai, Hitachi, Daewoo, Doosan, Samsung, New Holland, John Deere, KATO, Shantui.</p>
	<p>На наших складах всегда в наличии свыше 100 000 номенклатурных позиций деталей ходовой части, режущих элементов, фильтров, электрокомплектующих,  гидравлики, деталей двигателя, трансмиссии и др.</p>
	<p>У нас вы можете заказать комплектующие для буровых установок Atlas Copco, Sandvik, Terex, KATO – буровые коронки, долота, трубы, пневмоударники.</p>
	<p>Мы поставляем запчасти от оригинальных производителей спецтехники, а так же работаем с лучшими  независимыми заводами-изготовителями в Южной Корее и Китае. С 2011 года мы являемся эксклюзивным представителем южнокорейской корпорации DCF – одного из мировых лидеров в сфере производства гусеничной ходовой части.</p>
	<p>Ещё одним важным направлением нашей деятельности является поставка запасных частей и комплектующих для грузового автотранспорта.  У нас  вы можете приобрести любые детали для грузовиков КАМАЗ, УРАЛ, Iveco, Isuzu.</p>
	<p>Помимо поставки высококачественной продукции для спецтехники, нашим приоритетом является доступный ценовой уровень, который на сегодняшний день является конкурентоспособным на всей территории России.</p>
	<p>Наличие складов в Хабаровске, Новосибирске и Санкт-Петербурге позволяет нам организовать оперативную доставку запчастей в любую точку Российской Федерации.</p>
	<p>С нами сотрудничают многие крупнейшие нефтегазовые, дорожно-строительные, лесоперерабатывающие, золотодобывающие компании.</p>
	<p>Мы гарантируем индивидуальный подход к каждому клиенту и заинтересованы в прочных, долговременных отношениях с нашими партнерами. А качество услуг, предоставляемых нашей компанией, сделает наше сотрудничество максимально комфортным для вас.</p>
</section>

<section class="image-gallery-wrap">
	<div class="diploma-block" id="owl-carousel-diploma">
		<h2>Наши сертификаты, награды, дипломы</h2>
		<button class="diploma--show-more" id="show-more">Показать все</button>
		<div class="column-wrapper">
			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip1.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip1.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip2.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip2.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip3.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip3.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip4.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip4.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip5.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip1.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip6.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip9.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip7.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip7.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip8.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip8.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip9.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip9.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" rel="gallery" href="media/dip10.jpg">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip2.jpg" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="hidden-block">
			<div class="column-wrapper">

				<div class="column">
					<div class="item">
						<a class="fancy-img" rel="gallery1" href="media/dip1.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip1.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" rel="gallery1" href="media/dip2.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip2.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" rel="gallery1" href="media/dip3.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip3.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" rel="gallery1" href="media/dip4.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip4.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" rel="gallery1" href="media/dip2.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip2.jpg" alt="">
						</a>
					</div>
				</div>

			</div>
		</div>

		<button class="diploma--hide" id="hide-btn">Скрыть</button>
	</div>
</section>

<section class="contact-us">
	<div class="call-us">
		<div class="call-us__inner-wrap">
			<div class="call-us-column-left">Для уточнения информации о поставках запасных частей</div>
			<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>
			<div class="call-us-column-right">свяжитесь с нами по телефону <a class="call-us__phone" href="tel:88005009917">8 (800) 500-99-17</a></div>
		</div>
	</div>
	<div class="contact-us__info-text">Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
		</div>
		<button>Отправить</button>
	</form>
	<p>Наши специалисты оперативно ответят на все ваши вопросы<br> и помогут подобрать нужную запчасть для вашей спецтехники.</p>
</section>
{% endblock %}

{% block scripts %}
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
	$(document).ready(function () {
		$(".fancy-img").fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			helpers: {
				overlay: {
					locked: false
				}
			}
		});

		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});

		$('#show-more').click(function() {
			$('.hidden-block').slideDown();
			$('#hide-btn').show();
		});
		$('#hide-btn').click(function() {
			$('.hidden-block').slideUp();
			$(this).hide();
		});

		function mobile() {
			var checkWidth = $(window).width();
			var demo = $("#owl-carousel-diploma");
			if (checkWidth > 975) {
				// demo.trigger('destroy.owl.carousel').removeClass('owl-carousel owl-loaded');
				// toDesktop(demo);
				$('#show-more').show();
			} else if (checkWidth < 976) {
				$('#show-more').hide();
				$('#hide-btn').hide();
				demo.owlCarousel({
					singleItem:true,
					nestedItemSelector: 'item',
					loop: true,
					autoplaySpeed: 1000,
					smartSpeed: 1000,
					autoplay: true,
					nav: false,
					navText: '',
					responsive:{
						0:{
						items:1,
						nav:true
						},
						600:{
						items:3,
						nav:false
						}
					}
				});
			}
		}
		$(document).ready(mobile);
		$(window).resize(mobile);
	})
</script>
{% endblock %}