{% extends "templates/base.html" %}

{% block title%}Износ инструмента спецтехники при землеройных работах{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="articles.html">Статьи</a></li>
		<li class="active">Износ инструмента спецтехники при землеройных работах</li>
	</ul>
</div>

<div class="separator"></div>

<article class="info-block ckeditor-style">
	<h1>Износ инструмента спецтехники при землеройных работах</h1>
	<img src="media/art1.jpg" alt="">

	<h2>
		<samp>H2 как текст</samp>
	</h2>
	<h3>
		<samp>H3 как текст</samp>
	</h3>
	<h4>
		<samp>H4 как текст</samp>
	</h4>
	<h5>
		<samp>H5 как текст</samp>
	</h5>
	<h6>
		<samp>H6 как текст</samp>
	</h6>

	<h2>
		<strong>H2 как жирный текст</strong>
	</h2>
	<h3>
		<strong>H3 как жирный текст</strong>
	</h3>
	<h4>
		<strong>H4 как жирный текст</strong>
	</h4>
	<h5>
		<strong>H5 как жирный текст</strong>
	</h5>
	<h6>
		<strong>H6 как жирный текст</strong>
	</h6>

	<p>
		<big>
			Текст как Н2
		</big>
	</p>
	<p>
		<tt>
			Текст как Н3
		</tt>
	</p>
	<p>
		<code>
			Текст как Н4
		</code>
	</p>
	<p>
		<kbd>
			Текст как Н5
		</kbd>
	</p>
	<p>
		<small>
			Текст как Н6
		</small>
	</p>

	<h2>Н2</h2>
	<h3>Н3</h3>
	<h4>H4</h4>
	<h5>H5</h5>
	<h6>H6</h6>

	<p style="font-family: Tahoma; color: red; font-size: 40px;">Текст с инлайн стилями</p>

	<p>Детали рабочих органов, непосредственно соприкасающиеся с грунтом, в процессе работы подвергаются абразивному воздействию. Изнашивание режущей кромки приводит к серьезному снижению производительности спецтехники. Создание более прочного инструмента для землеройных машин и разработка способов увеличения его ресурса относится к числу приоритетных задач производителей. </p>
	<p>Для выполнения землеройных работ используются следующие виды специальной техники: </p>
	<ul>
		<li>Машины, предназначенные для производства подготовительных операций: разрыхлители, корчеватели, траншеекопатели, фрезы. </li>
		<li>Землеройно-транспортная спецтехника: бульдозеры, скреперы, разные типы грейдеров, фронтальные погрузчики, экскаваторы. </li>
		<li>Машины для уплотнения почв и выполнения специальных работ: решетчатые, кулачковые и пневмоколесные катки, трамбующие и вибрационные агрегаты. </li>
	</ul>
	<p>В особые категории выделяются специальные машины для гидромеханизации технологических операций и разработки мерзлых грунтов. Характер воздействий на инструменты со стороны грунтов, возникающих в процессе эксплуатации перечисленных видов техники, значительно различается. Соответственно износ рабочих органов происходит по-разному и в значительной мере зависит от плотности среды и состава. </p>

	<h2>Классификация инструмента для землеройных машин </h2>
	<img src="media/art2.jpg" alt="">
	<p>Землеройно-транспортная техника используется для отделения части грунта от общего массива, её дальнейшей погрузки в кузов транспортного средства или перераспределения в пределах ограниченной площадки. Существует три вида земляных работ для выполнения, которых применяется определенный тип инструмента: </p>
	<ol>
		<li>Подготовительные. Для снятия плодородного слоя почвы и сравнительной мягких грунтов, находящихся по ним, используются универсальные или скальные отвалы, а также погрузочные устройства ковшового типа. </li>
		<li>Основные. Рытье траншей, котлованов, разработка карьеров осуществляется при помощи ковшей экскаваторов, фрез, рабочих органов скреперов, бульдозеров и грейдеров. </li>
		<li>Отделочные. Создание насыпей, кюветов, выравнивание площадок осуществляется при помощи отвалов и специальных инструментов машин-планировщиков.</li>
	</ol>
	<p>Перечисленные виды землеройного инструмента для специальной техники имеют разные размеры и форму. Параметры и конструкция рабочих органов определяются характеристиками машин и агрегатов и прежде всего мощностью двигателя и показателями тягового усилия. </p>

	<h2>Причины и признаки износа инструмента землеройной техники</h2>
	<img src="media/art3.jpg" alt="">
	<p>Подпочвенные слои в основном состоят из осадочных пород: песков и суглинков, в состав которых входят кварц. Данный минерал имеет твердость в 820-1240 кг/мм2 по Бринеллю, рабочие органы землеройных машин делаются из высокоуглеродистых сталей (твердость порядка 400 кг/мм2). Срок службы инструмента напрямую зависит от скорости износа кромок, которая может достигать 390-410 мкм/ч. Интенсивность процессов разрушения рабочих органов существенно увеличивается с повышением плотности грунтов и наличия камней. </p>
	<p>Рабочая поверхность представляет собой твердосплавный клин, который вдавливается в грунт и разрезает массив. В месте контакта образуется уплотнение, а кромка инструмента испытывает значительное сопротивление. Характер воздействия представляет собой чередование ударных нагрузок и статического напряжения. Это наряду с истиранием и является основной причиной износа инструмента. Внешние признаки данного явления: </p>
	<ul>
		<li>Кромки инструмента затупляются и становятся закругленными.</li>
		<li>Образуются вмятины и глубокие царапины на поверхностях, которые находятся в контакте с грунтом.</li>
		<li>При работе экскаватора и бульдозера заметно возрастает нагрузка на силовую установку, повышается расход топлива.</li>
	</ul>
	<p>Рабочие органы землеройных машин подлежат регулярному осмотру лицом ответственным за эксплуатацию. При выявлении значительной выработки в деталях необходимо довести данную информацию до ремонтных служб и руководства компании. Своевременная замена изношенных элементов и квалифицированный уход позволит избежать поломок и крупных неисправностей.</p>

	<h2>Правила эксплуатации специальной техники и увеличение сроков службы инструмента</h2>
	<img src="media/art4.jpg" alt="">
	<p>Применение землеройных машин и механизмов должно происходит в строгом соответствии с рекомендациями производителя. Правила безопасной эксплуатации специальной техники предписывают:</p>
	<ul>
		<li>Использование механизмов и оборудования по прямому назначению.</li>
		<li>Квалифицированное техническое обслуживание. При невозможности организовать регламентные работы собственными силами следует обратиться за помощью в специализированные сервисные центры.</li>
		<li>Своевременный ремонт рабочих органов, силовых установок и вспомогательных систем с использованием оригинальных деталей, запчастей и комплектующих. </li>
	</ul>
	<p>Своевременный ремонт рабочих органов, силовых установок и вспомогательных систем с использованием оригинальных деталей, запчастей и комплектующих.</p>
</article>

<div class="bottom-border-shadow"><div></div></div>

<section class="articles-group">
	<div class="article-wrap">
		<a href="">
			<img src="media/spec1min.jpg" alt="">
			<h2>Заголовок статьи 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ab inventore velit corrupti maiores sed labore, illo sequi consequatur, officia dolores commodi dolor, temporibus illum laudantium animi vero culpa. Ex, incidunt!</p>
		</a>
	</div>

	<div class="article-wrap">
		<a href="">
			<img src="media/spec1min.jpg" alt="">
			<h2>Заголовок статьи 2</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore, asperiores. Temporibus quibusdam numquam unde dolore corrupti inventore facilis expedita ex similique soluta veniam, blanditiis, cum animi vel laudantium dicta.</p>
		</a>
	</div>

	<div class="article-wrap">
		<a href="">
			<img src="media/spec1min.jpg" alt="">
			<h2>Заголовок статьи 3</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error fuga consectetur quos optio, officia, quisquam beatae deleniti recusandae deserunt! Odit dignissimos totam, necessitatibus consequatur molestias sit inventore maiores officiis modi incidunt!</p>
		</a>
	</div>
</section>
{% endblock %}