{% extends "templates/base.html" %}

{% block title%}Статьи{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="/">Главная</a></li>
		<li class="active">Статьи</li>
	</ul>
</div>

<div class="separator"></div>

<div class="info-block">
	<h1>Статьи</h1>
	<section class="articles-group">
		<div class="article-wrap">
			<a href="article.html">
				<img src="media/art1min.jpg" alt="">
				<h2>Износ инструмента спецтехники при землеройных работах</h2>
				<p>Детали рабочих органов, непосредственно соприкасающиеся с грунтом, в процессе работы подвергаются абразивному воздействию. Изнашивание режущей кромки приводит к серьезному снижению производительности спецтехники. Создание более прочного инструмента для землеройных машин и разработка способов увеличения его ресурса относится к числу приоритетных задач производителей.</p>
			</a>
		</div>

		<div class="article-wrap">
			<a href="">
				<img src="media/spec1min.jpg" alt="">
				<h2>Заголовок статьи 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore, asperiores. Temporibus quibusdam numquam unde dolore corrupti inventore facilis expedita ex similique soluta veniam, blanditiis, cum animi vel laudantium dicta.</p>
			</a>
		</div>

		<div class="article-wrap">
			<a href="">
				<img src="media/spec1min.jpg" alt="">
				<h2>Заголовок статьи 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error fuga consectetur quos optio, officia, quisquam beatae deleniti recusandae deserunt! Odit dignissimos totam, necessitatibus consequatur molestias sit inventore maiores officiis modi incidunt!</p>
			</a>
		</div>

		<div class="article-wrap">
			<a href="article.html">
				<img src="media/art1min.jpg" alt="">
				<h2>Износ инструмента спецтехники при землеройных работах</h2>
				<p>Детали рабочих органов, непосредственно соприкасающиеся с грунтом, в процессе работы подвергаются абразивному воздействию. Изнашивание режущей кромки приводит к серьезному снижению производительности спецтехники. Создание более прочного инструмента для землеройных машин и разработка способов увеличения его ресурса относится к числу приоритетных задач производителей.</p>
			</a>
		</div>

		<div class="article-wrap">
			<a href="">
				<img src="media/spec1min.jpg" alt="">
				<h2>Заголовок статьи 2</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolore, asperiores. Temporibus quibusdam numquam unde dolore corrupti inventore facilis expedita ex similique soluta veniam, blanditiis, cum animi vel laudantium dicta.</p>
			</a>
		</div>

		<div class="article-wrap">
			<a href="">
				<img src="media/spec1min.jpg" alt="">
				<h2>Заголовок статьи 3</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ab, rem hic saepe non amet. Eos earum cupiditate tenetur corporis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel error fuga consectetur quos optio, officia, quisquam beatae deleniti recusandae deserunt! Odit dignissimos totam, necessitatibus consequatur molestias sit inventore maiores officiis modi incidunt!</p>
			</a>
		</div>

		<div class="paginator">
			<ul>
				<li><a href="" class="active">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}