{% extends "templates/base.html" %}

{% block title%}Каталог{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li class="active">Каталог продукции</li>
	</ul>
</div>

<div class="separator"></div>

<section class="info-block catalog-page">
	<h1>Каталог спецтехники и запчастей</h1>
	<p>Группа компаний «Сфера» осуществляет продажу запасных частей для импортной и отечественной спецтехники. У нас вы можете приобрести детали для экскаваторов, бульдозеров, грейдеров, фронтальных погрузчиков, буровых машин и грузового автотранспорта.</p>
	<p>Все поставляемые запчасти имеют высочайшее качество и длительный срок службы. Мы работаем как с оригинальными производителями, так и с лучшими независимыми поставщиками запасных частей из Европы и Азии, тщательно отбирая из них самых надёжных. Наличие складов в Хабаровске, Новосибирске и Санкт-Петербурге позволяет нам оперативно доставить необходимую деталь в любую точку Российской Федерации.</p>
</section>

<section class="catalog catalog-page">
	<div class="column-wrapper">

		<div class="column">
			<div class="item">
				<a href="/catalog-zapchasti-spectehnika.html">
					<img src="media/sl3.jpg" alt="">
				</a>
			</div>
			<h3><a href="/catalog-zapchasti-spectehnika.html">Запчасти для импортной спецтехники</a></h3>
			<p>Каталог запчастей на спецтехнику KOMATSU, CATERPILLAR, DOOSAN, HITACHI, JCB, VOLVO, HYUNDAI, KOBELCO, SHANTUI и других зарубежных брендов</p>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat11.jpg" alt="">
				</a>
			</div>
			<h3><a href="#">Запчасти для грузовых автомобилей</a></h3>
			<p>Все виды запасных частей для грузовиков КАМАZ, УРАЛ, IVECO, ISUZU</p>
		</div>

		<div class="column">
			<div class="item">
				<a href="catalog-tires.html">
					<img src="media/cat10.jpg" alt="">
				</a>
			</div>
			<h3><a href="catalog-tires.html">Грузовые и специальные автошины</a></h3>
			<p>Продажа шин и цепей противоскольжения для грузовых автомобилей, колёсных экскаваторов и погрузчиков</p>
		</div>

		<div class="column">
			<div class="item">
				<a href="spectehnika.html">
					<img src="media/cat12.jpg" alt="">
				</a>
			</div>
			<h3><a href="spectehnika.html">Спецтехника</a></h3>
			<p>Поставка спецтехники импортного и отечественного производства под заказ</p>
		</div>
	</div>
</section>
{% endblock %}