{% extends "templates/base.html" %}

{% block title%}Страница товара{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/jquery.fancybox.css">
<link rel="stylesheet" href="css/select2.css">
<link rel="stylesheet" href="css/flexslider.css">
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="catalog-main.html">Каталог продукции</a></li>
		<li><a href="catalog-category.html">Категория товара</a></li>
		<li><a href="#" class="active">Страница товара</a></li>
	</ul>
</div>

<div class="separator"></div>

<section class="catalog-page-wrap">
	<h1>Гусеничная лента в сборе - 154-32-04071</h1>

	<aside class="catalog-page__sideblock"> 
		<form action="" class="form-filter">
			<div class="h6">Поиск по сайту</div>
			<div class="filter__input-wrap">
				<input type="text" name="" id="art-input"></input>
				<button class="form__search-btn"></button>
				<span class="filter__input-clear" id="art-search-clear"></span>
			</div>
		</form>

		<div class="side-catalog-container">
		{% include "includes/side-catalog.html" %}
		</div>

		<!-- <form action="" class="form-filter">
			<div class="h6">Подбор запчастей на спецтехнику</div>

			<div class="filter__select-wrap">
				<span class="filter__select-title">Бренды</span> 
				<select name="" id="filter-select1" class="filter-select">
					<option selected value="All">Все бренды</option>
					<option value="">Грузовые автошины</option>
					<option value="">Шины для спецтехники</option>
				</select>
				<span class="filter__clear"></span>
			</div>
			
			<div class="filter__select-wrap">
				<span class="filter__select-title">Группы запчастей</span>
				<select name="" id="filter-select2" class="filter-select">
					<option selected value="All">Все группы</option>
					<option value="">20</option>
					<option value="">22</option>
					<option value="">24</option>
				</select>
				<span class="filter__clear"></span>
			</div>

		</form> -->
	</aside>

	<div class="catalog-content-wrap">
		<div class="product-photos">
			<ul class="slides">
			<li data-thumb="media/prod1.jpg">
					<a class="fancy-img" rel="gallery1" href="media/prod1.jpg" title="Гусеничная лента в сборе - 154-32-04071">
					<img src="media/prod1.jpg" />
				</a>
			</li>

			<li data-thumb="media/prod2.jpg">
					<a class="fancy-img" rel="gallery1" href="media/prod2.jpg" title="Гусеничная лента в сборе - 154-32-04071">
					<img src="media/prod2.jpg" />
				</a>
			</li>

			<li data-thumb="media/prod3.jpg">
					<a class="fancy-img" rel="gallery1" href="media/prod3.jpg" title="Гусеничная лента в сборе - 154-32-04071">
					<img src="media/prod3.jpg" />
				</a>
			</li>

			<li data-thumb="media/prod4.jpg">
					<a class="fancy-img" rel="gallery1" href="media/prod4.jpg" title="Гусеничная лента в сборе - 154-32-04071">
					<img src="media/prod4.jpg" />
				</a>
			</li>

			</ul>
		</div>

		<div class="product-info">
			<div class="product-info__group">
				<span><b>Гусеничная лента в сборе</b></span><br>
				<span>Track shoe assembly</span>
			</div>

			<div class="product-info__group">
				<span><b>Артикул: </b></span>
				<span>123-654-82</span>
			</div>

			
			<div class="product-info__group">
				<span><b>Наличие: </b></span>
				<span>Есть на складе</span>
			</div>
			
			<div class="product-info__group">
				<span><b>Цена: </b></span>
				<span>1200 руб.</span>
			</div>

			<div class="product-info__group">
				<form action="">
					<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
					<span> шт.</span>
					<button type="submit" class="">Заказать</button>
				</form>
			</div>

			<div class="product-info__group">
				<span><b>Характеристики:</b></span>
				<ul>
					<li>Вес: 1700 кг</li>
					<li>Количество звеньев:  39</li>
					<li>Смазываемая:  Нет</li>
					<li>Ширина башмака:  560</li>
				</ul>
			</div>

			<div class="product-info__group">Разработаны для установки на ведущие оси. Развитый рисунок протектора обеспечивает хорошее сцепление в самых разных дорожных условиях. Повышенное сопротивление неравномерному износу.</div>

			<div class="product-info__group">
				<span class="txt-mb-15"><b>Применяемость:</b></span><br>
				<span class="txt-mb-5"><b>Бульдозеры KOMATSU</b></span>
				<table>
					<tbody>
						<tr>
							<th>Модель</th>
							<th>Комплектность</th>
						</tr>
						<tr>
							<td>D85A-12</td>
							<td>2</td>
						</tr>
						<tr>
							<td>D85A-18</td>
							<td>2</td>
						</tr>
						<tr>
							<td>D85A-21</td>
							<td>2</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="product-info__group">
				<span><b>Аналоги:</b></span><br>
				<a href="">21K-32-01041</a><br>
				<a href="">21K-32-01040</a>
			</div>
		</div>


		<p>Продажа товара 154-32-04071 – Гусеничная лента в сборе осуществляется ГК «Сфера» по всей территории РФ со складов в Москве, Санкт-Петербурге, Новосибирске, Хабаровске, Омске, Улан-Удэ.</p>
		<p>Чтобы узнать информацию о наличии и цене на запчасть Гусеничная лента в сборе 154-32-04071, свяжитесь с нами по телефону 8 (800) 500-99-17, или оформите предварительный заказ на нашем сайте.</p>
	</div>
</section>

<!-- Tires catalog -->
<section class="catalog-page-wrap">
	<h1>Автошины KAMA 310 12.00R20</h1>

	<aside class="catalog-page__sideblock">
		<form action="" class="form-filter">
			<div class="h6">Поиск по артикулу</div>
			<div class="filter__input-wrap">
				<input name="" id="" placeholder="Введите артикул"></input>
				<button class="form__search-btn"></button>
			</div>
		</form>

		<form action="" class="form-filter">
			<div class="h6">Подбор автошин</div>

			<div class="filter__select-wrap">
				<span class="filter__select-title">Тип автошин</span> 
				<select name="" id="filter-select3" class="filter-select">
					<option selected value="All">Все автошины</option>
					<option value="">Грузовые автошины</option>
					<option value="">Шины для спецтехники</option>
				</select>
				<span class="filter__clear" id="filter1clear"></span>
			</div>
			
			<div class="filter__select-wrap">
				<span class="filter__select-title">Размер</span>
				<select name="" id="filter-select4" class="filter-select">
					<option selected value="All">Все размеры</option>
					<option value="">20</option>
					<option value="">22</option>
					<option value="">24</option>
				</select>
				<span class="filter__clear" id="filter2clear"></span>
			</div>

			<div class="filter__select-wrap">
				<span class="filter__select-title">Производитель</span>
				<select name="" id="filter-select5" class="filter-select">
					<option selected value="All">Все производители</option>
					<option value="">Bridgestone</option>
					<option value="">Continental</option>
					<option value="">Cordiant</option>
				</select>
				<span class="filter__clear" id="filter3clear"></span>
			</div>
		</form>
	</aside>

	<div class="catalog-content-wrap">
		<div class="product-photos">
			<ul class="slides">
				<li data-thumb="media/prod5.jpg">
					<a class="fancy-img" rel="gallery2" href="media/prod5.jpg" title="Автошины KAMA 310 12.00R20">
					<img src="media/prod5.jpg" />
				</a>
			</li>

			<li data-thumb="media/prod6.jpg">
					<a class="fancy-img" rel="gallery2" href="media/prod6.jpg" title="Автошины KAMA 310 12.00R20">
					<img src="media/prod6.jpg" />
				</a>
			</li>
			</ul>
		</div>

		<div class="product-info">
			<div class="product-info__group">
				<table class="product-info__spec-table">
					<tr>
						<td>Производитель</td>
						<td>KAMA</td>
					</tr>
					<tr>
						<td>Модель</td>
						<td>310</td>
					</tr>
					<tr>
						<td>Размер</td>
						<td>12.00R20</td>
					</tr>
					<tr>
						<td>Страна производитель</td>
						<td>Россия</td>
					</tr>
					<tr>
						<td>Тип шины</td>
						<td>Грузовые автошины</td>
					</tr>
					<tr>
						<td>Применяемость</td>
						<td>Городские</td>
					</tr>
					<tr>
						<td>Показатель слойности</td>
						<td>18PR</td>
					</tr>
					<tr>
						<td>Индекс нагрузки</td>
						<td>154/149</td>
					</tr>
					<tr>
						<td>Максимально давление</td>
						<td>8.7</td>
					</tr>
					<tr>
						<td>Вес</td>
						<td>85.00</td>
					</tr>
				</table>
			</div>

			<div class="product-info__group">
				<p>Разработаны для установки на ведущие оси. Развитый рисунок протектора обеспечивает хорошее сцепление в самых разных дорожных условиях. Повышенное сопротивление неравномерному износу.</p>
			</div>

			<div class="product-info__group">
				<form action="">
					<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
					<span> шт.</span>
					<button type="submit" class="">Заказать</button>
				</form>
			</div>
		</div>


		<p>Чтобы узнать наличие, цену и оформить предварительный заказ на поставку автошин KAMA 310, свяжитесь с нами по телефону 8 (800) 500-99-17, или заполните заявку на сайте. Доставка осуществляется по всей России со складов в Москве, Санкт-Петербурге, Новосибирске, Хабаровске, Омске, Улан-Удэ.</p>

		<div class="catalog-similar-products">
			<h2>Похожие товары</h2>
			<div class="column-wrapper">
				<div class="column">
					<a href="catalog-product-page.html">
						<img src="media/prod5.jpg" alt="">
						<span>Автошины TYREX CRG POWER О-184 425/85R21 425/85R21</span>
					</a>
				</div>
				<div class="column">
					<a href="catalog-product-page.html">
						<img src="media/prod6.jpg" alt="">
						<span>Автошины TYREX CRG POWER О-184  TYREX CRG POWER О-184  425/85R21 425/85R21</span>
					</a>
				</div>
				<div class="column">
					<a href="catalog-product-page.html">
						<img src="media/prod5.jpg" alt="">
						<span>Автошины TYREX CRG POWER О-184 425/85R21 425/85R21</span>
					</a>
				</div>
				<div class="column">
					<a href="catalog-product-page.html">
						<img src="media/prod6.jpg" alt="">
						<span>Автошины TYREX CRG POWER О-184 425/85R21 425/85R21</span>
					</a>
				</div>
				<div class="column">
					<a href="catalog-product-page.html">
						<img src="media/prod5.jpg" alt="">
						<span>Автошины TYREX CRG POWER О-184 425/85R21 425/85R21</span>
					</a>
				</div>
				<div class="column">
					<a href="catalog-product-page.html">
						<img src="media/prod6.jpg" alt="">
						<span>Автошины TYREX CRG POWER О-184 425/85R21 425/85R21</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Tires end -->
{% endblock %}

{% block scripts %}
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/filters.js"></script>
<script>
	$(document).ready(function() {
		$('.product-photos').flexslider({
			animation: "slide",
			controlNav: "thumbnails",
			slideshow: false,
			directionNav: false
		});

		function prodPreload(callback) {
			$(".fancy-img").fancybox({
				openEffect  : 'fade',
				closeEffect : 'fade',
				helpers: {
					overlay: {
						locked: false
					}
				}
			});
			callback;
		}
		prodPreload(setTimeout(function(){
			$('.product-photos').css({
				'visibility': 'visible',
				'display': 'none'
			}).fadeIn();
		}, 1000))


		initSelect2('#filter-select1');
		initSelect2('#filter-select2');
		initSelect2('#filter-select3');
		initSelect2('#filter-select4');
		initSelect2('#filter-select5');
	});
</script>
{% endblock %}