{% extends "templates/base.html" %}

{% block title%}Запчасти для спецтехники{% endblock %}

{% block extra_content %}
<div class="popup-overlay" id="order-popup">
	<div class="popup-inner">
		<table>
			<tbody>
				<tr>
					<td><span class="popup-add-icon"></span>Автошины TYREX CRG POWER О-184  425/85R21</td>
					<td class="popup-quantity">1 шт.</td>
					<td class="popup-added">Добавлен в заявку</td>
					<td><button id="close-popup">✖</button></td>
				</tr>
			</tbody>
		</table>
		<a href="order-page.html" class="popup-order-btn">Перейти к оформлению</a>
	</div>
</div>

<div class="popup-overlay-2" id="thank-you">
	<div class="popup-inner" style="max-width: 500px;">
		<span class="notification"><b>Ваше сообщение отправлено!</b></span>
	</div>
</div>
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li>
			<a href="index.html">Главная</a>
		</li>
		<li>
			<a href="catalog-main.html">Каталог продукции</a>
		</li>
		<li>
			<a href="#" class="active">Запчасти для спецтехники</a>
		</li>
	</ul>
</div>

<div class="separator"></div>

<section class="catalog-page-wrap">
	<h1 id="h1">Каталог грузовых и специальных автошин</h1>

	<aside class="catalog-page__sideblock"> 
		<form action="" class="form-filter">
			<div class="h6">Поиск по сайту</div>
			<div class="filter__input-wrap">
				<input type="text" name="" id="art-input"></input>
				<button class="form__search-btn"></button>
				<span class="filter__input-clear" id="art-search-clear"></span>
			</div>
		</form>

		<div class="side-catalog-container hidden-xs">
		{% include "includes/side-catalog.html" %}
		</div>

		<div class="banner hidden-sm">
			<a href="dcf.html">
				<img src="media/banner-DCF-vert.jpg" alt="баннер dcf">
			</a>
			<a href="/Pukdoo/">
				<img src="media/banner-pukdoo-vert.jpg" alt="баннер Pukdoo">
			</a>
		</div>
	</aside>

	<div class="catalog-content-wrap">
		<!-- Бренды/Производители автошин new -->
		<section class="catalog-links catalog-links--5-cols">
			<div class="catalog-links__title">Бренды</div>
			<div class="catalog-links__row">
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand10.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Samsung</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<div class="no-img-box">
							<div class="no-img-content">
								<span>No-img brand</span>
							</div>
						</div>
					</a>
					<a href="#" class="catalog-links__link visible-xs">No-img brand</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand9.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">New holland</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand8.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Mitsubishi</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand7.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Liebherr</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand6.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Komatsu</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand5.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Volvo</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand4.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Terex</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand3.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Sumitomo</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand2.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Shantui</a>
				</div>
				<div class="catalog-links__col">
					<a class="hidden-xs" href="#">
						<img class="catalog-links__img" src="media/brand1.jpg" alt="">
					</a>
					<a href="#" class="catalog-links__link visible-xs">Sandvik</a>
				</div>
			</div>
		</section>
		<!-- Бренды new -->
		
		<!-- Группы запчастей new -->
		<section class="catalog-links">
			<div class="catalog-links__title">Группы запчастей</div>
			<div class="catalog-links__row">
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">Ходовая часть</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">Детали двигателя</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">Тормозная система</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">Топливная система</a>
				</div>
			</div>
		</section>
		<!-- Группы запчастей new -->

		<!-- Модели new -->
		<section class="catalog-links catalog-links--xs-scrollable catalog-links--6-cols">
			<div class="catalog-links__title">Модели</div>
			<div class="catalog-links__row">
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">ZX225USRLCK-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">ZX225USRLCK-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
				<div class="catalog-links__col">
					<a class="catalog-links__link" href="#">EX200LCH-3</a>
				</div>
			</div>
		</section>
		<!-- Модели new -->

		<!-- Виды спецтехники new -->
		<section class="catalog-links catalog-links--4-cols">
			<div class="catalog-links__title">Виды спецтехники</div>
			<div class="catalog-links__row">
				{% for item in catalog_product_types %}
				<div class="catalog-links__col">
					<a href="{{ item.url }}" title="{{ item.name }}" class="hidden-xs">
						<img class="catalog-links__img" src="{{ item.img }}" alt="{{ item.name }}">
					</a>
					<a href="#" class="catalog-links__link visible-xs">{{ item.name }}</a>
				</div>
				{% endfor %}
			</div>
		</section>
		<!-- Виды спецтехники new -->

		<div class="view-toggle">
			<button class="list-view-btn" id="list-view-btn"></button>
			<button class="grid-view-btn" id="grid-view-btn"></button>
		</div>

		<div class="catalog-content__items-on-page">
			<span>Показать</span>

			<div class="catalog-content__items-on-page-select">
				<span value="" class="catalog-content__curr-items">100</span>
				<i></i>
				<ul class="catalog-content__items-ddown">
					<li value="?num=100">100</li>
					<li value="?num=250">250</li>
					<li value="?num=500">500</li>
					<li value="?num=1000">1000</li>
				</ul>
			</div>

			<span>товаров на транице</span>
		</div>

		<div class="paginator">
			<ul>
				<li><a href="">«</a></li>
				<li class="active">1</li>
				<li>...</li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
				<li><a href="">7</a></li>
				<li>...</li>
				<li><a href="">9</a></li>
				<li><a href="">»</a></li>
			</ul>
		</div>

		<div class="catalog-tables-container" id="tables-container">
			<div class="catalog-table-wrap">
				<div class="h3">Грузовые автошины</div>
				<table class="catalog-table catalog-tire-table">
					<tbody>
						<tr>
							<td class="has-img">
								<i class="product-image-icon">
									<div class="catalog-table__preview-img">
										<img src="media/prod6.jpg" alt="">
									</div>
								</i>
								<a href="">Автошины КАМА 986</a>
							</td>
							<td><a href="">PPR/654-14</a></td>
							<td><a href="">Универсальные</a></td>
							<td>
								<form action="">
									<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
									<button type="submit" class="catalog__add2cart-btn"></button>
								</form>
							</td>  
						</tr>
						<tr>
							<td><i class="product-image-icon"></i><a href="">Автошины КАМА 986</a></td>
							<td><a href="">65-4/NR65</a></td>
							<td><a href="">Универсальные</a></td>
							<td>
								<form action="">
									<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
									<button type="submit" class="catalog__add2cart-btn"></button>
								</form>
							</td>
						</tr>
						<tr>
							<td><a href="">Автошины КАМА 986</a></td>
							<td><a href="">654654</a></td>
							<td><a href="">Зимние</a></td>
							<td>
								<form action="">
									<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
									<button type="submit" class="catalog__add2cart-btn"></button>
								</form>
							</td>
						</tr>
						<tr>
							<td><a href="">Автошины КАМА 986</a></td>
							<td><a href="">6546AB/154</a></td>
							<td><a href="">Универсальные</a></td>
							<td>
								<form action="">
									<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
									<button type="submit" class="catalog__add2cart-btn"></button>
								</form>
							</td>
						</tr>
						<tr>
							<td><a href="">Автошины КАМА 986</a></td>
							<td><a href="">24.543.ZX</a></td>
							<td><a href="">Летние</a></td>
							<td>
								<form action="">
									<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
									<button type="submit" class="catalog__add2cart-btn"></button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="catalog-table-wrap">
				<div class="h3">Шины для спецтехники</div>
				<table class="catalog-table catalog-tire-table">
					<tbody>
						<tr>
							<td><a href="">Автошины HENAN (AEOLUS) L-2/G-13 TL...</a></td>
							<td><a href="">14.00-24</a></td>
							<td><a href="">Бездорожье</a></td>
							<td>
								<form action="">
									<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
									<button type="submit" class="catalog__add2cart-btn"></button>
								</form>
							</td> 
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="catalog-blocks-container" id="blocks-container">
			<div class="h3">Грузовые автошины</div>
			<div class="catalog-blocks-wrap">
				<div class="catalog-blocks__item-wrap">
					<img src="img/sampleimg.jpg" alt="">
					<div class="catalog-blocks__item-sign">
						<span>Автошины HENAN</span>
						<span>14.00-24</span>
						<form action="">
							<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
							<button type="submit" class="catalog__add2cart-btn"></button>
						</form>
					</div>
				</div>

				<div class="catalog-blocks__item-wrap">
					<img src="media/cat-block.jpg" alt="">
					<div class="catalog-blocks__item-sign">
						<span>Автошины HENAN (AEOLUS)</span>
						<span>14.00-24/1234</span>
						<form action="">
							<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
							<button type="submit" class="catalog__add2cart-btn"></button>
						</form>
					</div>
				</div>

				<div class="catalog-blocks__item-wrap">
					<img src="img/sampleimg2.jpg" alt="">
					<div class="catalog-blocks__item-sign">
						<span>Автошины HENAN (AEOLUS)</span>
						<span>14.00-24</span>
						<form action="">
							<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
							<button type="submit" class="catalog__add2cart-btn"></button>
						</form>
					</div>
				</div>

				<div class="catalog-blocks__item-wrap">
					<img src="media/cat-block.jpg" alt="">
					<div class="catalog-blocks__item-sign">
						<span>Автошины HENAN (AEOLUS)</span>
						<span>14.00-24/1234</span>
						<form action="">
							<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
							<button type="submit" class="catalog__add2cart-btn"></button>
						</form>
					</div>
				</div>

				<div class="catalog-blocks__item-wrap">
					<img src="media/cat-block.jpg" alt="">
					<div class="catalog-blocks__item-sign">
						<span>Автошины HENAN (AEOLUS)</span>
						<span>14.00-24</span>
						<form action="">
							<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
							<button type="submit" class="catalog__add2cart-btn"></button>
						</form>
					</div>
				</div>
			</div>

			<div class="h3">Шины для спецтехники</div>
			<div class="catalog-blocks-wrap">
				<div class="catalog-blocks__item-wrap">
					<img src="media/cat-block.jpg" alt="">
					<div class="catalog-blocks__item-sign">
						<span>Автошины HENAN (AEOLUS)</span>
						<span>14.00-24</span>
						<form action="">
							<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
							<button type="submit" class="catalog__add2cart-btn"></button>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="catalog-content__items-on-page">
			<span>Показать</span>
			<div class="catalog-content__items-on-page-select">
				<span value="" class="catalog-content__curr-items" onchange="location = this.value">100</span>
				<i></i>
				<ul class="catalog-content__items-ddown">
					<li>100</li>
					<li>250</li>
					<li>500</li>
					<li>1000</li>
				</ul>
			</div>
			<span>товаров на транице</span>
        </div>
        
		<div class="paginator">
			<ul>
				<li><a href="">«</a></li>
				<li class="active">1</li>
				<li>...</li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
				<li><a href="">7</a></li>
				<li>...</li>
				<li><a href="">9</a></li>
				<li><a href="">»</a></li>
			</ul>
		</div>

        
		<h2>Каталог грузовых и специальных автошин</h2>
		<p>Группа компаний «Сфера» осуществляет поставку грузовых и специальных автошин всех типоразмеров. У нас вы можете подобрать шины для грузовиков, самосвалов, грузовых прицепов, лесовозов и других грузовых машин. А так же заказать шины для спецтехники на колёсном ходу: экскаваторов, грейдеров, фронтальных погрузчиков, сельскохозяйственной техники.</p>
		<p>Сегодня рынок предлагает огромное количество моделей грузовых автошин и шин для спецтехники, различающихся по своим характеристикам, цене и качеству. Зная, насколько важно для вас надёжно укомплектовать свой автотранспорт, мы тщательно выбираем продукцию от лучших производителей в своём сегменте.</p>
		<p>Мы тесно сотрудничаем с ведущими зарубежными заводами: Brigestone, Continental, Nokian, Pirelli, Micheline. Сам факт приобретения автошин, выпускаемых под этими брендами, служит гарантией надёжности их службы.</p>
		<p>Так же мы поставляем грузовые автошины российских производителей: Алтайского шинного комбината и Нижнекамскшины, доказавших, что они ни чем не уступают признанным мировым лидерам по качеству выпускаемой продукции.</p>
		<p>Особым спросом пользуется грузовая резина и шины для спецтехники производства КНР. Мы предлагаем китайские грузовые и специальные автошины: Linglong, Triangle, Long March, Transtone, Aim One Aeolus, которые неоднократно были отмечены положительными отзывами наших клиентов за оптимальное соотношение параметров «цена-качество».</p>
		<p>В нашей компании вы можете не только купить грузовые автошины, но и подобрать к ним надёжные защитные цепи и цепи противоскольжения, которые повысят проходимость вашей техники на сложных участках.</p>
		<p>Чтобы приобрести шины для грузовых автомобилей и спецтехники, свяжитесь с нашими менеджерами по телефону 8 (800) 500-99-17, или оформите предварительную заявку на сайте. Доставка осуществляется транспортными компаниями со складов в Москве, Санкт-Петербурге, Новосибирске, Хабаровске, Омске, Улан-Удэ в любую точку Российской Федерации.</p>
        
        <section class="contact-us" style="box-shadow: none;">
            <div class="call-us">
                    <p>Для уточнения информации о поставках запасных частей</p>
                <div class="call-us__inner-wrap">
                    <div class="call-us-column-left" style="color: #bd0b30;">свяжитесь с нами по телефону</div>
        
                    <div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>
        
                    <div class="call-us-column-right"><a class="call-us__phone" style="font-size: 22px" href="tel:88005009917">8 (800) 500-99-17</a></div>
                </div>
            </div>
            <div class="contact-us__info-text">
                Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время
            </div>
            <form action="" class="contact-us__form">
                <div class="form__input-wrap">
                    <span class="form__tooltip">Lorem ipsum dolor.</span>
                    <input name="" type="text" placeholder="Имя">
                </div>
                <div class="form__input-wrap">
                    <input class="phone-mask" name="" type="text" placeholder="Телефон">
                </div>
                <div class="form__input-wrap">
                    <input name="" type="text" placeholder="E-mail">
                </div>
                <div class="form__input-wrap">
                    <input name="city" type="text" placeholder="Ваш город">
                </div>
                <div class="form__textarea-wrap">
                    <span class="form__tooltip">Lorem ipsum dolor.</span>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
                </div>
                <button>Отправить</button>
            </form>
            <p>Наши специалисты оперативно ответят на все ваши вопросы<br>
                и помогут подобрать нужную запчасть для вашей спецтехники.
            </p>
        </section>
	</div>
</section>

<div class="banner visible-sm">
    <a href="dcf.html">
        <img src="media/banner-DCF-vert.jpg" alt="баннер dcf">
	</a>
	<a href="/Pukdoo/">
		<img src="media/banner-pukdoo-vert.jpg" alt="баннер Pukdoo">
	</a>
</div>
{% endblock %}

{% block scripts %}
<script src="js/order.js"></script>
<script>
	$(document).ready(function() {
		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
		
		$('#grid-view-btn').click(function() {
			$('#blocks-container').show();
			$('#tables-container').hide();
		});

		$('#list-view-btn').click(function() {
			$('#tables-container').show();
			$('#blocks-container').hide();
		});

		// $('.items-on-page-select').select2({
		// 	minimumResultsForSearch: Infinity
		// });
	});
</script>
<script>
	$('.catalog-content__items-on-page-select').click(function() {
		$(this).find('.catalog-content__items-ddown').toggle();
		$(this).find('i').toggleClass('arr-close');
	})

	$('.catalog-content__items-ddown').find('li').click(function () {
		$('.catalog-content__curr-items').attr('value', $(this).attr('value'));
		$('.catalog-content__curr-items').text($(this).text());
	})

	$('.catalog-content__curr-items').on('DOMSubtreeModified', function () {
		location = this.getAttribute('value');
	});

	// Hide dropdown
	jQuery(function($) {
		$(document).mouseup(function(e) {
            if (
                !$(".catalog-content__items-on-page-select").is(e.target) && 
                $(".catalog-content__items-on-page-select").has(e.target).length === 0
            ) {
                $('.catalog-content__items-ddown').hide();
                $('.arr-close').removeClass('arr-close');
            }
		});
	});
	//=============
</script>
{% endblock %}