{% extends "templates/base.html" %}

{% block title%}Контакты{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li class="active">Контакты</li>
	</ul>
</div>
<div class="separator"></div>
<section class="info-block contacts-page">
	<h1>Контакты</h1>
	<div class="row">
		<div class="col-md-4">
			<div class="contacts-info">
				<p class="active">Группа компаний «Сфера»</p>
				<a href="tel:8 (800) 500-99-17"><span class="icon icon-telephone"></span> 8 (800) 500-99-17</a><br>
				<a href="mailto:rus@sfera-khv.ru"><span class="icon icon-envelope"></span> rus@sfera-khv.ru</a>
			</div>
		</div>
		<div class="col-md-8">
			<!-- <p>Доставка запасных частей осуществляется по всей территории Российской Федерации транспортными компаниями. Возможна организация доставки до адреса покупателя.</p>
			<p>Доставка запасных частей осуществляется по всей территории Российской Федерации транспортными компаниями. Возможна организация доставки до адреса покупателя. Мы работаем с транспортными компаниями «Деловые линии», «ДВТК Фрахт», «Глобал ТЭК», «Байкал-сервис», «Флагман Амур», «Траффик-ДВ», «Берг», «ЯН». Тесное сотрудничество с ними позволяет гарантировать приоритетность доставки наших грузов в любых условиях.</p>
			<p>Самовывоз товара возможен по адресам складов в Москве, Санкт-Петербурге, Новосибирске, Хабаровске, Омске, Улан-Удэ.</p> -->
			<p class="txt-center requisites__title"><strong>Реквизиты ООО «Сфера» </strong></p>
			<div class="row">
				<div class="col-sm-6">
					<p>680042, Хабаровский край, г.&nbsp;Хабаровск ул. Шелеста, 24</p>
					<p>ИНН 2724129450 </p>
					<p>КПП 272401001</p>
					<p>ОГРН 1092724002580</p>
				</div>
				<div class="col-sm-6">
					<p>Банк: Филиал №2754 ВТБ 24 г.&nbsp;Хабаровск</p>
					<p>Кор. счет: 30101810300000000827</p>
					<p>БИК: 040813827</p>
					<p>Р./счет: 40702810700560002559</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="bottom-border-shadow"><div></div></div>

<section class="map-info">
	<div class="col-md-3 padding-l-0">
		<span class="warehouse-title">Наши склады:</span>
		<ul class="map-info__list">
			<li class="map-dest active">г. Хабаровск</li>
			<li class="map-dest">г. Санкт-Петербург</li>
			<li class="map-dest">г. Москва</li>
			<li class="map-dest">г. Новосибирск</li>
			<li class="map-dest">г. Улан-Удэ</li>
			<li class="map-dest">г. Омск</li>
		</ul>
	</div>
	<div class="col-md-9 padding-r-0 padding-sm-0">
		<div id="map" style="width: 100%; height: 280px"></div>

		<ul class="map__contact-info">
			<li><span class="icon icon-placeholder"></span> Адрес: ул. Шелеста, 24</li>
			<li><span class="icon icon-clock"></span> Пн-Пт с 9:00 до 18:00</li>
			<li><a href=""><span class="icon icon-telephone"></span> 8 (800) 500-99-17</a></li>
			<li><a href=""><span class="icon icon-envelope"></span> rus@sfera-khv.ru</a></li>
		</ul>
	</div>
</section>

<section class="contact-us">
	<div class="call-us">
		<div class="call-us__inner-wrap">
			<div class="call-us-column-left">Для уточнения информации о поставках запасных частей</div>

			<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>

			<div class="call-us-column-right">свяжитесь с нами по телефону <a class="call-us__phone" href="tel:88005009917">8 (800) 500-99-17</a></div>
		</div>
	</div>
	<div class="contact-us__info-text">
		Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время
	</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
		</div>
		<button>Отправить</button>
	</form>
	<p>Наши специалисты оперативно ответят на все ваши вопросы<br>
		и помогут подобрать нужную запчасть для вашей спецтехники.
	</p>
</section>
{% endblock %}

{% block scripts %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
	$(function() {
		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
	})
</script>
<script>
	ymaps.ready(init);
	var myMap, 
	coords = [
	[48.513717, 135.067910],
	[59.903214, 30.393671],
	[55.849893, 37.589159],
	[55.086224, 82.969127],
	[51.830935, 107.649181],
	[55.064829, 73.263244]
	],
	destinations = {
		'г. Хабаровск': [48.513717, 135.067910],
		'г. Санкт-Петербург': [59.903214, 30.393671],
		'г. Москва': [55.849893, 37.589159],
		'г. Новосибирск': [55.086224, 82.969127],
		'г. Улан-Удэ': [51.830935, 107.649181],
		'г. Омск': [55.064829, 73.263244]
	}

	function init() {
		var myMap = new ymaps.Map('map', {
			center: [65.854499, 103.490609],
			zoom: 10,
			controls: []
		}, {
			searchControlProvider: 'yandex#search'
		});

		function clickGoto() {
			// город
			var pos = this.textContent;

			// переходим по координатам
			myMap.setCenter(destinations[pos], 16)

			return false;
		}

		// навешиваем обработчики
		var addrLink = $('.map-dest');
		for (var i = 0, n = addrLink.length; i < n; ++i) {
			addrLink[i].onclick = clickGoto;
		}

		for (var i = 0; i < coords.length; i++) {
			var myPlacemark = new ymaps.Placemark(coords[i], {
				// hintContent: 'Собственный значок метки',
				// balloonContent: 'Это красивая метка'
			}, {
				iconLayout: 'default#image',
				iconImageHref: 'img/logo-map.png',
				iconImageSize: [30, 42],
				iconImageOffset: [-3, -42]
			});

			myMap.geoObjects.add(myPlacemark);
		}


		myMap.controls.add('zoomControl', {});

		var allPoints = ymaps.geoQuery(myMap.geoObjects);
		myMap.setBounds(allPoints.getBounds(), { checkZoomRange: true });

		$('.warehouse-title').click(function() {
			myMap.setBounds(allPoints.getBounds(), { checkZoomRange: true });
		})
	}
</script>
{% endblock %}