{% extends "templates/base.html" %}

{% block title%}DCF{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="" class="active">Ходовая часть DCF от официального дилера в России</a></li>
	</ul>
</div>

<div class="separator"></div>

<section class="info-block">
	<h1>Ходовая часть DCF от официального дилера в России</h1>
	<img class="banner" src="media/bannerdcf.jpg" alt="">
	<p><strong>Группа компаний «Сфера» является эксклюзивным дилером DCF на территории Российской Федерации.</strong></p>
	
	<aside class="side-slider">
		<div class="diploma-block" id="owl-carousel-diploma">

			<div class="column-wrapper">
				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip1.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip1.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip2.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip2.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip3.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip3.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip4.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip4.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip2.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip2.jpg" alt="">
						</a>
					</div>
				</div>

			</div>
		</div>
		<h6>Сертификат официального дилера DCF</h6>
	</aside>

	<div class="txt-justify txt-aside">
		<p>Южнокорейская корпорация Daechang Crank Forging (DCF) специализируется на производстве деталей гусеничной ходовой части для экскаваторов, бульдозеров и другой спецтехники. Являясь одним из мировых лидеров в отрасли кузнечно-штамповочного производства, DCF входит в число официальных поставщиков ходовой части для компаний JCB, Liebherr, Volvo, Doosan, Hyundai, Trek.</p>
		<p>Ходовая часть DCF производится с применением уникальных технологических разработок, благодаря чему имеет длительный срок службы и сохраняет высокую износостойкость даже при эксплуатации на высокоабразивных грунтах и при воздействии низких температур – что подтверждается международными сертификатами качества и положительными отзывами наших клиентов.</p>
		<p>Являясь официальным дилером DCF, мы готовы обеспечить поставку напрямую от завода-изготовителя в кратчайший срок и по максимально выгодной цене. У нас вы можете приобрести:</p>
	</div>
	<ul>
		<li>Гусеницы в сборе DCF</li>
		<li>Гусеничные цепи DCF</li>
		<li>Звёздочки и сегменты DCF</li>
		<li>Опорные и поддерживающие катки DCF</li>
	</ul>

	<div class="download"> 
		<a href="http://www.sfera-khv.ru/sites/default/files/dcf.pdf" target="_blank">
			<img src="img/pdf.png" alt=""><strong>Скачать презентацию о продукции DCF</strong>
		</a>
	</div>
	
	<div class="video-wrapper">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/omRCmkWYw1A?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
	</div>

	<section class="contact-us">
		<div class="call-us">
			<div class="call-us__inner-wrap">
				<div class="call-us-column-left">Чтобы оформить заказ на поставку деталей ходовой части DCF</div>
				<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>
				<div class="call-us-column-right">свяжитесь с нами по телефону <a class="call-us__phone" href="tel:88005009917">8 (800) 500-99-17</a></div>
			</div>
		</div>
		<div class="contact-us__info-text">Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время</div>
		<form action="" class="contact-us__form">
			<div class="form__input-wrap">
				<span class="form__tooltip">Lorem ipsum dolor.</span>
				<input name="" type="text" placeholder="Имя">
			</div>
			<div class="form__input-wrap">
				<input class="phone-mask" name="" type="text" placeholder="Телефон">
			</div>
			<div class="form__input-wrap">
				<input name="" type="text" placeholder="E-mail">
			</div>
			<div class="form__input-wrap">
				<input name="city" type="text" placeholder="Ваш город">
			</div>
			<div class="form__textarea-wrap">
				<span class="form__tooltip">Lorem ipsum dolor.</span>
				<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
			</div>
			<button>Отправить</button>
		</form>
		<p>Наши специалисты оперативно ответят на все ваши вопросы<br> и помогут подобрать нужную запчасть для вашей спецтехники.</p>
	</section>

	
</section>

<section class="gallery">
	<div class="column-wrapper">
		<div class="column">
			<div class="item">
				<a class="fancy-img" data-fancybox-group="gallery" href="media/m1.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/m1min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" data-fancybox-group="gallery" href="media/m3.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/m3min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" data-fancybox-group="gallery" href="media/m4.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/m4min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" data-fancybox-group="gallery" href="media/m5.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/m5min.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts %}
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script>
	$(document).ready(function() {
		$("#owl-carousel-diploma").owlCarousel({
			items: 1,
			nestedItemSelector: 'item',
			loop:true,
			autoplay: false,
			smartSpeed: 1400,
			nav:false
		});

		$(".fancy-img").fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			helpers: {
				overlay: {
					locked: false
				}
			}
		});

		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
	});
</script>
{% endblock %}