{% extends "templates/base.html" %}

{% block title%}Галерея{% endblock %}

{% block css%}
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
{% endblock %}

{% block main_content %}
<!-- <div class="old-browser-wrap">
	<div class="container">
		<p>Внимание! Вы используете устаревшую версию браузера, содержание страниц может отображаться некорректно. Пожалуйста, обновите ваш браузер!</p>
		<ul>
			<li>
				<a href="https://www.google.ru/chrome/browser/desktop/index.html"><img src="img/chrome.png" alt="">Google Chrome</a>
			</li>
			<li>
				<a href="https://www.mozilla.org/ru/firefox/new/"><img src="img/ffox.png" alt="">Mozilla Firefox</a>
			</li>
			<li>
				<a href="https://support.microsoft.com/ru-ru/help/17621/internet-explorer-downloads#!ru-ru%2Fhelp%2F17621%2Finternet-explorer-downloads"><img src="img/ie.png" alt="" style="">Internet Explorer</a>
			</li>
			<li>
				<a href="http://www.opera.com/ru"><img src="img/opera.png" alt="">Opera</a>
			</li>
		</ul>
	</div>
</div> -->
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li class="active">Галерея</li>
	</ul>
</div>
<div class="separator"></div>
<section class="gallery">
	<h1>Галерея</h1>
	<div class="column-wrapper">
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal1.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal1min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal2.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal2min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal3.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal3min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal4.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal4min.jpg" alt="">
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal5.jpg" title="Доставка запчастей для спецтехники по всей России">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal5min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal6.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal6min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal7.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal7min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal8.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal8min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal9.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal9min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal10.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal10min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal11.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal11min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal12.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal12min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal13.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal13min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal14.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal14min.jpg" alt="">
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a class="fancy-img" rel="gallery" href="media/gal15.jpg" title="lorem ipsum">
					<div class="overlay">
						<img class="overlay-img" src="img/zoom-in.svg" alt="">
					</div>
					<img src="media/gal15min.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block scripts%}
<script src="js/jquery.fancybox.pack.js"></script>
<script>
	$(".fancy-img").fancybox({
		openEffect  : 'none',
		closeEffect : 'none',
		helpers: {
			overlay: {
				locked: false
			}
		}
	});
</script>
{% endblock %}