{% extends "templates/base.html" %}

{% block title %}Главная{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/owl.carousel.css">
<link rel="stylesheet" href="css/jquery.fancybox.css">
{% endblock %}

{% block extra_content %}
<div class="popup-overlay-2" id="thank-you">
	<div class="popup-inner" style="max-width: 500px;">
		<span class="notification"><b>Ваше сообщение отправлено!</b></span>
	</div>
</div>
{% endblock %}

{% block main_content %}
<div class="separator"></div>
<section class="slider"> 
	<div class="owl-carousel" id="owl-carousel-catalog">
		<div class="slide-wrap">
			<img src="media/sl1.png" alt="">
			<div class="slide-text">
				<span class="slide-title">Спецтехника</span>
				<p>Самосвалы, Грейдеры, Экскаваторы, Бульдозеры, Краны</p>
				<a href="">Перейти в каталог</a>
			</div>
		</div>

		<div class="slide-wrap">
			<img src="media/sl5.png" alt="">
			<div class="slide-text">
				<span class="slide-title">Запчасти для импортной спецтехники</span>
				<a href="">Перейти в каталог</a>
			</div>
		</div>

		<div class="slide-wrap">
			<img src="media/sl2.png" alt="">
			<div class="slide-text">
				<span class="slide-title">Запчасти для грузовых автомобилей</span>
				<a href="">Перейти в каталог</a>
			</div>
		</div>
		
		<div class="slide-wrap">
			<img src="media/sl3.png" alt="">
			<div class="slide-text">
				<span class="slide-title">Запчасти для импортной спецтехники</span>
				<a href="">Перейти в каталог</a>
			</div>
		</div>
		
		<div class="slide-wrap">
			<img src="media/sl4.png" alt="">
			<div class="slide-text">
				<span class="slide-title">Грузовые автошины</span>
				<span class="slide-subtitle">Шины для спецтехники</span>
				<a href="">Перейти в каталог</a>
			</div>
		</div>
	</div>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="features">
	<h1>Запчасти для спецтехники от Группы компаний «СФЕРА»</h1>
	<ul class="features__list">
		<li>Более 1 000 000 номенклатурных позиций в наличии</li>
		<li>Эксклюзивные дилеры DCF-Korea в России</li>
		<li>30 000 м2 складских площадей</li>
		<li>Оптимальное соотношение цены и качества</li>
		<li>Более 150 профессионалов в нашей команде</li>
		<li>Поставка по всей территории РФ от 1 до 14 рабочих дней</li>
		<li>С 2013 г. лидеры в РФ по объемам поставок гусеничной ходовой части для спецтехники</li>
	</ul>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="catalog">
	<p class="section-title">Найдите нужную запчасть для спецтехники в нашем каталоге</p>
	<form class="product-search-form" action="">
		<div class="input-wrap">
			<input id="id_q" type="text" placeholder="Поиск по сайту">
		</div>
		<button type="submit"><span class="hidden-xs">Поиск</span><img class="visible-xs" src="img/search.svg" alt="поиск" style="width: 23px;"></button>
	</form>
	<h2>В нашем каталоге представлены все основные группы запасных частей для спецтехники</h2>
	<div class="column-wrapper">

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat1.jpg" alt="">
					<span>Буровой инструмент</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat2.jpg" alt="">
					<span>Гидравлические компоненты</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat3.jpg" alt="">
					<span>Детали двигателя</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat4.jpg" alt="">
					<span>Насосы</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat5.jpg" alt="">
					<span>Режущие элементы</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat6.jpg" alt="">
					<span>Стрелы и рукояти</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat7.jpg" alt="">
					<span>Трансмиссия</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat8.jpg" alt="">
					<span>Фильтры</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat9.jpg" alt="">
					<span>Ходовая часть</span>
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/cat10.jpg" alt="">
					<span>Грузовые и специальные автошины</span>
				</a>
			</div>
		</div>
	</div>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="assortment">
	<h2>Ознакомьтесь с нашим ассортиментом запасных частей и комплектующих для различных видов землеройной и погрузочно-транспортной спецтехники</h2>
	<div class="column-wrapper">
		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/1.png" alt="">
					<span>Бульдозеры</span>
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/5.png" alt="">
					<span>Грейдеры</span>
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/4.png" alt="">
					<span>Фронтальные погрузчики</span>
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/3.png" alt="">
					<span>Экскаваторы гусеничные</span>
				</a>
			</div>
		</div>
		<div class="column">
			<div class="item">
				<a href="#">
					<img src="media/7.png" alt="">
					<span>Экскаваторы колесные</span>
				</a>
			</div>
		</div>
	</div>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="contact-us">
	<div class="call-us">
		<div class="call-us__inner-wrap">
			<div class="call-us-column-left">Для уточнения информации о поставках запасных частей</div>

			<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>

			<div class="call-us-column-right">свяжитесь с нами по телефону <a class="call-us__phone" href="tel:88005009917">8 (800) 500-99-17</a></div>
		</div>
	</div>
	<div class="contact-us__info-text">
		Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время
	</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
		</div>
		<button>Отправить</button>
	</form>
	<p>Наши специалисты оперативно ответят на все ваши вопросы<br> и помогут подобрать нужную запчасть для вашей спецтехники.</p>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="about-us">
	<h3 class="fake-h">Приобретайте только лучшие запчасти на спецтехнику</h3>
	
	<!-- <div class="float-wrap">
		<a href="dcf.html" class="image-link">
			<img src="img/banner-DCF-vert.jpg" alt="">
		</a>

		<div class="about__text">
			<p>Группа компаний «Сфера» специализируется на поставке запасных частей для импортной и отечественной спецтехники. У нас вы можете приобрести различные виды запчастей для бульдозеров, экскаваторов и грейдеров всемирно известных брендов, таких как Komatsu, Caterpillar, Hitachi, JCB,  Liebherr, Kobelco, Hyundai, Volvo, Shantui, Daewoo, Doosan, Sumitomo, Четра. А так же запчасти для буровых машин Terex, Atlas Copco, Kato, Sandvik.</p>
			<p>Являясь официальным дилером «КАМАЗ-Восток», мы поставляем любые детали и комплектующие для отечественных грузовиков КАМАЗ по выгодной цене. Кроме того, мы реализуем запчасти для грузового автотранспорта УРАЛ, Iveco, Isuzu.</p>
			<p>Заботясь о качестве поставляемой продукции, мы выбрали для вас лучших производителей запчастей и комплектующих для спецтехники, таких как DCF, CF, KTSU, PUKDOO, NBLF, JAF, Donaldson, Baldwin. Так же мы организуем поставку запчастей от оригинальных производителей из Америки, Канады, Японии, Южной Кореи и стран Европы.</p>
			<div class="clearfix"></div>
		</div>					
	</div> -->

	<div class="about__text">
		<p>Группа компаний «Сфера» специализируется на поставке запасных частей для импортной и отечественной спецтехники. У нас вы можете приобрести различные виды запчастей для бульдозеров, экскаваторов и грейдеров всемирно известных брендов, таких как Komatsu, Caterpillar, Hitachi, JCB,  Liebherr, Kobelco, Hyundai, Volvo, Shantui, Daewoo, Doosan, Sumitomo, Четра. А так же запчасти для буровых машин Terex, Atlas Copco, Kato, Sandvik.</p>
		<p>Являясь официальным дилером «КАМАЗ-Восток», мы поставляем любые детали и комплектующие для отечественных грузовиков КАМАЗ по выгодной цене. Кроме того, мы реализуем запчасти для грузового автотранспорта УРАЛ, Iveco, Isuzu.</p>
		<p>Заботясь о качестве поставляемой продукции, мы выбрали для вас лучших производителей запчастей и комплектующих для спецтехники, таких как DCF, CF, KTSU, PUKDOO, NBLF, JAF, Donaldson, Baldwin. Так же мы организуем поставку запчастей от оригинальных производителей из Америки, Канады, Японии, Южной Кореи и стран Европы.</p>
	</div>
	<div class="row about__banners">
		<div class="col-sm-6 txt-center about__banner-container">
			<a href="dcf.html" class="image-link">
				<img src="media/banner-DCF.jpg" alt="">
			</a>
		</div>
		<div class="col-sm-6 txt-center about__banner-container">
			<a href="dcf.html" class="image-link">
				<img src="media/banner-pukdoo.jpg" alt="">
			</a>
		</div>
	</div>
	
	<div class="diploma-block" id="owl-carousel-diploma">
		<p class="section-title">Наши сертификаты, награды, дипломы</p>

		<button class="diploma--show-more" id="show-more">Показать все</button>

		<div class="column-wrapper">
			<div class="column">
				<div class="item">
					<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip1.jpg" title="certificate">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip1.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip2.jpg" title="certificate">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip2.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip3.jpg" title="certificate">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip3.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip4.jpg" title="certificate">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip4.jpg" alt="">
					</a>
				</div>
			</div>

			<div class="column">
				<div class="item">
					<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip2.jpg" title="certificate">
						<div class="overlay">
							<img class="overlay-img" src="img/zoom-in.svg" alt="">
						</div>
						<img src="media/dip2.jpg" alt="">
					</a>
				</div>
			</div>
		</div>

		<div class="hidden-block" id="hidden-certificates">
			<div class="column-wrapper">

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip1.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip1.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip2.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip2.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip3.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip3.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip4.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip4.jpg" alt="">
						</a>
					</div>
				</div>

				<div class="column">
					<div class="item">
						<a class="fancy-img" data-fancybox-group="gallery1" href="media/dip2.jpg" title="certificate">
							<div class="overlay">
								<img class="overlay-img" src="img/zoom-in.svg" alt="">
							</div>
							<img src="media/dip2.jpg" alt="">
						</a>
					</div>
				</div>

			</div>
		</div>

		<button class="diploma--hide" id="hide-btn">Скрыть</button>
	</div>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="map-info">
	<p class="section-title">Лучшие бренды</p>
	<div class="owl-carousel owl-carousel-brands" id="owl-carousel-brands">
		<div class="carousel-brands__slide">
			<a href=""><img src="media/brand5.jpg" alt=""></a>
		</div>

		<div class="carousel-brands__slide">
			<a href=""><img src="media/brand1.jpg" alt=""></a>
		</div>

		<div class="carousel-brands__slide">
			<a href="">
				<div class="carousel-brands__slide-txt">
					<span>Lorem ipsum dolor sit amet, consectetur.</span>
				</div>
			</a>
		</div>

		<div class="carousel-brands__slide">
			<a href=""><img src="media/brand2.jpg" alt=""></a>
		</div>

		<div class="carousel-brands__slide">
			<a href=""><img src="media/brand3.jpg" alt=""></a>
		</div>

		<div class="carousel-brands__slide">
			<a href=""><img src="media/brand4.jpg" alt=""></a>
		</div>

		<div class="carousel-brands__slide">
			<a href="">
				<div class="carousel-brands__slide-txt">
					<span>Lorem ipsum.</span>
				</div>
			</a>
		</div>
	</div>
	<h4 class="fake-h">Получайте детали вовремя в любой точке России</h4>
	<div class="map-text">Поставка запчастей осуществляется нами по всей территории Российской Федерации со складов в Москве, Санкт-Петербурге, Новосибирске, Хабаровске, Омске, Улан-Удэ. Профессиональный логистический отдел позволяет спланировать и организовать доставку в минимально короткий срок.</div>
	<div class="col-md-3 padding-l-0">
		<span class="warehouse-title active">Наши склады:</span>
		<ul class="map-info__list">
			<li class="map-dest">г. Хабаровск</li>
			<li class="map-dest">г. Санкт-Петербург</li>
			<li class="map-dest">г. Москва</li>
			<li class="map-dest">г. Новосибирск</li>
			<li class="map-dest">г. Улан-Удэ</li>
			<li class="map-dest">г. Омск</li>
		</ul>
	</div>

	<div class="col-md-9 padding-r-0 padding-sm-0">
		<div id="map" style="width: 100%; height: 280px"></div>				
		<ul class="map__contact-info">
			<li><span class="icon icon-placeholder"></span> Адрес: (680042) г. Хабаровск, ул. Шелеста, 24</li>
			<li><span class="icon icon-clock"></span> Пн-Пт с 9:00 до 18:00</li>
			<li><a href=""><span class="icon icon-telephone"></span> 8 (800) 500-99-17</a></li>
			<li><a href=""><span class="icon icon-envelope"></span> rus@sfera-khv.ru</a></li>
		</ul>  
	</div>
</section>
<div class="bottom-border-shadow"><div></div></div>
<section class="ask">
	<p class="section-title">Не нашли то, что искали?<br>Напишите нам!</p>
	<button class="ask__btn" id="show-form-btn" data-txt-swap="Закрыть форму">Задать вопрос</button>
</section>
<section class="contact-us hidden-block" id="contact-form">
	<div class="contact-us__info-text">Задать вопрос</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
		</div>
		<button>Отправить</button>
	</form>
</section>
{% endblock %}

{% block scripts %}
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/masked.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		$('#id_q').mask('A', {
			'translation': {
				A: {pattern: /[A-Za-zА-яа-я0-9\-]/, recursive: true},
			}
		});
		$("#owl-carousel-catalog").owlCarousel({
			items: 1,
			loop:true,
			autoplay: true,
			autoplaySpeed: 1400,
			smartSpeed: 1400,
			margin:10,
			nav:true,
			navText: ''
		});

		$("#owl-carousel-brands").owlCarousel({
			items: 5,
			loop: true,
			autoplay: true,
			autoplaySpeed: 1000,
			smartSpeed: 1000,
			margin:10,
			slideBy: 5,
			nav:true,
			navText: '',
			responsive:{
				0:{
					items:1,
					nav:true
				},
				600:{
					items:3,
					nav:false
				},
				991:{
					items:5,
					nav:true
				}
			}
		});

		$(".fancy-img").fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			helpers: {
				overlay: {
					locked: false
				}
			}
		});

		$(".phone-mask").masked("+7 (999) 999-9999");

		$('#show-more').click(function() {
			$('#hidden-certificates').slideDown();
			$('#hide-btn').show();
		});
		$('#hide-btn').click(function() {
			$('#hidden-certificates').slideUp();
			$(this).hide();
		});

		function mobile() {
			var checkWidth = $(window).width();
			var demo = $("#owl-carousel-diploma");
			if (checkWidth > 975) {
				$('#show-more').show();
			} else if (checkWidth < 976) {
				$('#show-more').hide();
				$('#hide-btn').hide();
				demo.owlCarousel({
					singleItem:true,
					nestedItemSelector: 'item',
					loop: true,
					autoplaySpeed: 1000,
					smartSpeed: 1000,
					autoplay: true,
					nav: false,
					navText: '',
					responsive:{
						0:{
							items:1,
							nav:true
						},
						600:{
							items:3,
							nav:false
						}
					}
				});
			}
		}
		mobile();
		$(window).resize(mobile);

		$('#show-form-btn').click(function() {
			var btn = $(this);
			$('#contact-form').slideToggle(function() {
				var srcTxt = btn.data('txt-swap');
				btn.data('txt-swap', btn.text());
				btn.text(srcTxt);
				btn.toggleClass('ask__btn--close');
			});
		});
	});
</script>
<script>
	ymaps.ready(init);
	var myMap, 
	coords = [
	[48.513717, 135.067910],
	[59.903214, 30.393671],
	[55.849893, 37.589159],
	[55.086224, 82.969127],
	[51.830935, 107.649181],
	[55.064829, 73.263244]
	],
	destinations = {
		'г. Хабаровск': [48.513717, 135.067910],
		'г. Санкт-Петербург': [59.903214, 30.393671],
		'г. Москва': [55.849893, 37.589159],
		'г. Новосибирск': [55.086224, 82.969127],
		'г. Улан-Удэ': [51.830935, 107.649181],
		'г. Омск': [55.064829, 73.263244]
	}

	function init() {
		var myMap = new ymaps.Map('map', {
			center: [65.854499, 103.490609],
			zoom: 10,
			controls: []
		}, {
			searchControlProvider: 'yandex#search'
		});

		function clickGoto() {
			// город
			var pos = this.textContent;

			// переходим по координатам
			myMap.setCenter(destinations[pos], 16);

			return false;
		}

		// навешиваем обработчики
		var addrLink = $('.map-dest');
		for (var i = 0, n = addrLink.length; i < n; ++i) {
			addrLink[i].onclick = clickGoto;
		}

		for (var i = 0; i < coords.length; i++) {
			var myPlacemark = new ymaps.Placemark(coords[i], {
				// hintContent: 'Собственный значок метки',
				// balloonContent: 'Это красивая метка'
			}, {
				iconLayout: 'default#image',
				iconImageHref: 'img/logo-map.png',
				iconImageSize: [30, 42],
				iconImageOffset: [-3, -42]
			});

			myMap.geoObjects.add(myPlacemark);
		}


		myMap.controls.add('zoomControl', {});

		var isMobile = {
			Android: function() {
				return navigator.userAgent.match(/Android/i);
			},
			BlackBerry: function() {
				return navigator.userAgent.match(/BlackBerry/i);
			},
			iOS: function() {
				return navigator.userAgent.match(/iPhone|iPad|iPod/i);
			},
			Opera: function() {
				return navigator.userAgent.match(/Opera Mini/i);
			},
			Windows: function() {
				return navigator.userAgent.match(/IEMobile/i);
			},
			any: function() {
				return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
			}
		};

		if (isMobile.any()) {
			myMap.behaviors.disable('drag');	
		}

		var allPoints = ymaps.geoQuery(myMap.geoObjects);
		myMap.setBounds(allPoints.getBounds(), { checkZoomRange: true });

		$('.warehouse-title').click(function() {
			myMap.setBounds(allPoints.getBounds(), { checkZoomRange: true });
		})
	}
</script>
{% endblock %}