{% extends "templates/base.html" %}

{% block title%}Запчаcти для грузовых автомобилей{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="catalog-main.html">Каталог продукции</a></li>
		<li class="active">Запчасти для грузовых автомобилей</li>
	</ul>
</div>

<div class="separator"></div>

<section class="info-block">
	<h1>Запчаcти для грузовых автомобилей</h1>
	<p>Группа компаний «Сфера» с 2007 года осуществляет поставку запасных частей для землеройной спецтехники импортного производства. На сегодняшний день  мы поставляем широкий ассортимент запасных частей для бульдозеров, грейдеров, гусеничных и колёсных экскаваторов таких известных брендов, как Caterpillar (Cat), Komatsu, Liebherr, Kobelco, JCB, Mitsubishi, Sumitomo, Volvo, Hyundai, Hitachi, Daewoo, Doosan, Samsung, New Holland, John Deere, KATO, Shantui.</p>

	<table class="ckeditor__logo-table">
		<tbody>
			<tr>
				<td><img src="media/brand1.jpg" alt=""></td>
				<td><img src="media/brand2.jpg" alt=""></td>
				<td><img src="media/brand3.jpg" alt=""></td>
				<td><img src="media/brand4.jpg" alt=""></td>
				<td><img src="media/brand5.jpg" alt=""></td>
				<td><img src="media/brand6.jpg" alt=""></td>
				<td><img src="media/brand7.jpg" alt=""></td>
				<td><img src="media/brand8.jpg" alt=""></td>
				<td><img src="media/brand9.jpg" alt=""></td>
				<td><img src="media/brand10.jpg" alt=""></td>
				<td><img src="media/brand11.jpg" alt=""></td>
				<td><img src="media/brand12.jpg" alt=""></td>
			</tr>
		</tbody>
	</table>

	<p>На наших складах всегда в наличии свыше 100 000 номенклатурных позиций деталей ходовой части, режущих элементов, фильтров, электрокомплектующих,  гидравлики, деталей двигателя, трансмиссии и др.</p>
	<p>У нас вы можете заказать комплектующие для буровых установок Atlas Copco, Sandvik, Terex, KATO – буровые коронки, долота, трубы, пневмоударники.</p>
	<p>Мы поставляем запчасти от оригинальных производителей спецтехники, а так же работаем с лучшими  независимыми заводами-изготовителями в Южной Корее и Китае. С 2011 года мы являемся эксклюзивным представителем южнокорейской корпорации DCF – одного из мировых лидеров в сфере производства гусеничной ходовой части.</p>
	<p>Ещё одним важным направлением нашей деятельности является поставка запасных частей и комплектующих для грузового автотранспорта.  У нас  вы можете приобрести любые детали для грузовиков КАМАЗ, УРАЛ, Iveco, Isuzu.</p>
	<p>Помимо поставки высококачественной продукции для спецтехники, нашим приоритетом является доступный ценовой уровень, который на сегодняшний день является конкурентоспособным на всей территории России.</p>
	<p>Наличие складов в Хабаровске, Новосибирске и Санкт-Петербурге позволяет нам организовать оперативную доставку запчастей в любую точку Российской Федерации.</p>
	<p>С нами сотрудничают многие крупнейшие нефтегазовые, дорожно-строительные, лесоперерабатывающие, золотодобывающие компании.</p>
	<p>Мы гарантируем индивидуальный подход к каждому клиенту и заинтересованы в прочных, долговременных отношениях с нашими партнерами. А качество услуг, предоставляемых нашей компанией, сделает наше сотрудничество максимально комфортным для вас.</p>
</section>

<section class="contact-us">
	<div class="call-us">
		<div class="call-us__inner-wrap">
			<div class="call-us-column-left">Для уточнения информации о поставках запасных частей</div>

			<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>

			<div class="call-us-column-right">свяжитесь с нами по телефону <a class="call-us__phone" href="tel:88005009917">8 (800) 500-99-17</a></div>
		</div>
	</div>
	<div class="contact-us__info-text">
		Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время
	</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
		</div>
		<button>Отправить</button>
	</form>
	<p>Наши специалисты оперативно ответят на все ваши вопросы<br>
		и помогут подобрать нужную запчасть для вашей спецтехники.
	</p>
</section>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function () {
		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
	})
</script>
{% endblock %}