{% extends "templates/base.html" %}

{% block title%}Оформить заказ{% endblock %}

{% block extra_content %}
<div class="popup-overlay-2" id="thank-you">
	<div class="popup-inner" style="max-width: 500px;">
		<span class="notification"><b>Ваша заявка отправлена!</b></span>
	</div>
</div>
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li class="active">Корзина</li>
	</ul>
</div>

<div class="separator"></div>

<section class="info-block">
	<h1>Оформить заказ</h1>
	<div class="hidden-info">
		<p>Ваша заявка пуста</p><br>
		<a class="btn" href="catalog-main.html">Перейти в каталог</a>
	</div>
	<table class="catalog-table order-table">
		<thead>
			<tr>
				<th>Наименование</th>
				<th>Артикул</th>
				<th>Количество</th>
				<th>Удалить</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="has-img">
					Автошины КАМА 986
					<i class="product-image-icon">
						<div class="catalog-table__preview-img">
							<img src="media/prod6.jpg" alt="">
						</div>
					</i>
				</td>
				<td>PPR/654-14</td>
				<td>
					<form action="">
						<input id="id_quantity" max="9999" maxlength="5" min="1" name="quantity" step="1" type="number" value="1" required="" placeholder="" class="id_quantity float-l">
						<button class="order-table__add2cart invisible"></button>
					</form>
				</td>
				<td>
					<button type="submit" class="clear-order-btn"></button>
				</td>
			</tr>
			<tr>
				<td>Автошины КАМА 986</td>
				<td>PPR/654-14</td>
				<td>
					<form action="">
						<input id="id_quantity" max="9999" maxlength="5" min="1" name="quantity" step="1" type="number" value="1" required="" placeholder="" class="id_quantity float-l">
						<button class="order-table__add2cart invisible"></button>
					</form>
				</td>
				<td>
					<button type="submit" class="clear-order-btn"></button>
				</td>
			</tr>
			<tr>
				<td>Автошины КАМА 986</td>
				<td>PPR/654-14</td>
				<td>
					<form action="">
						<input id="id_quantity" max="9999" maxlength="5" min="1" name="quantity" step="1" type="number" value="1" required="" placeholder="" class="id_quantity float-l">
						<button class="order-table__add2cart invisible"></button>
					</form>
				</td>
				<td>
					<button type="submit" class="clear-order-btn"></button>
				</td>
			</tr>
		</tbody>
	</table>
</section>

<div class="bottom-border-shadow"><div></div></div>

<section class="contact-us" id="contact-us">
	<div class="contact-us__info-text">
		Пожалуйста, укажите свои контактные данные
	</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Комментарий к заявке"></textarea>
		</div>
		<button>Отправить</button>
	</form>
	<p>Наши специалисты оперативно ответят на все ваши вопросы<br>
		и помогут подобрать нужную запчасть для вашей спецтехники.
	</p>
</section>
{% endblock %}

{% block scripts %}
<script src="js/order.js"></script>
<script>
	$(function() {
		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
	})

	$('.id_quantity').change(function () {
		var addBtn = $(this).next('.order-table__add2cart');
		addBtn.removeClass('invisible');
	});

	$('.order-table__add2cart').click(function(e) {
		e.preventDefault();
		var $this = $(this);
		$this.addClass('order-table__add2cart--added');
		setTimeout(function() {
			$this.addClass('invisible');
		}, 1000)
		setTimeout(function() {
			$this.removeClass('order-table__add2cart--added');
		}, 1200)
	});
</script>
{% endblock %}