{% extends "templates/base.html" %}

{% block title%}Поиск{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/select2.css">
{% endblock %}

{% block extra_content %}
<div class="popup-overlay" id="order-popup">
	<div class="popup-inner">
		<table>
			<tbody>
				<tr>
					<td><span class="popup-add-icon"></span>Автошины TYREX CRG POWER О-184  425/85R21</td>
					<td class="popup-quantity">1 шт.</td>
					<td class="popup-added">Добавлен в заявку</td>
					<td><button id="close-popup">✖</button></td>
				</tr>
			</tbody>
		</table>
		<a href="order-page.html" class="popup-order-btn">Перейти к оформлению</a>
	</div>
</div>

<div class="popup-overlay" id="thank-you">
	<div class="popup-inner">
		<p><b>Ваше сообщение отправлено!</b></p>
	</div>
</div>
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="catalog-main.html">Каталог продукции</a></li>
		<li class="active">Поиск</li>
	</ul>
</div>

<div class="separator"></div>

<section class="catalog-page-wrap">
	<h1 id="h1">Результаты поиска: автошины</h1>

	<aside class="catalog-page__sideblock">
		<form action="" class="form-filter">
			<div class="h6">Поиск по сайту</div>
			<div class="filter__input-wrap">
				<input type="text" name="" id="art-input" placeholder="Введите артикул"></input>
				<button class="form__search-btn"></button>
				<span class="filter__input-clear" id="art-search-clear"></span>
			</div>
		</form>
		
		<div class="side-catalog-container hidden-xs">
			{% include "includes/side-catalog.html" %}
		</div>

		<!-- <form action="" class="form-filter form-filter--no-bg hidden-xs">
			<div class="form-preloader">
				<svg class="machine" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 645 526">
				<defs></defs>
				<g>
					<path x="-100,136" y="-100,136" fill="#fff" class="small-gear" d="M200 236v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H90l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L0 215v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L200 236zM100 262c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S121 262 100 262z"></path>
				</g>
				<g>
					<path x="-173,694" y="-173,694" fill="#fff" class="large-gear" d="M635 184v-21l-29-4c-1-10-3-19-6-28l25-14 -8-19 -28 7c-5-8-10-16-16-24L592 58l-15-15 -23 17c-7-6-15-11-24-16l7-28 -19-8 -14 25c-9-3-18-5-28-6L472 0h-21l-4 29c-10 1-19 3-28 6L405 9l-19 8 7 28c-8 5-16 10-24 16l-23-17L331 58l17 23c-6 7-11 15-16 24l-28-7 -8 19 25 14c-3 9-5 18-6 28l-29 4v21l29 4c1 10 3 19 6 28l-25 14 8 19 28-7c5 8 10 16 16 24l-17 23 15 15 23-17c7 6 15 11 24 16l-7 28 19 8 14-25c9 3 18 5 28 6l4 29h21l4-29c10-1 19-3 28-6l14 25 19-8 -7-28c8-5 16-10 24-16l23 17 15-15 -17-23c6-7 11-15 16-24l28 7 8-19 -25-14c3-9 5-18 6-28L635 184zM461 284c-61 0-110-49-110-110S401 64 461 64s110 49 110 110S522 284 461 284z"></path>
				</g>
				<g>
					<path x="-136,996" y="-136,996" fill="#fff" class="medium-gear" d="M392 390v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L342 313c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L392 390zM255 453c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C328 420 295 453 255 453z"></path>
				</g>
				</svg>
			</div>

			<div class="form-filter__inner-wrap">
				<div class="h6">Подбор автошин</div>

				<div class="filter__select-wrap">
					<span class="filter__select-title">Бренд</span> 
					<select name="brand" id="filter-select1" class="filter-select">
						<option selected value="All">Все бренды</option>
						<option value="">Caterpillar</option>
						<option value="">Doosan</option>
					</select>
					<span class="filter__clear"></span>
				</div>
				
				<div class="filter__select-wrap">
					<label>Размер</label>
					<select name="" id="filter-select2" class="filter-select">
						<option selected value="All">Все размеры</option>
						<option value="">20</option>
						<option value="">22</option>
						<option value="">24</option>
					</select>
					<span class="filter__clear"></span>
				</div>

				<div class="filter__select-wrap">
					<span class="filter__select-title">Группа запчастей</span>
					<select name="sparegroup" id="filter-select3" class="filter-select">
						<option selected value="All">Все группы</option>
						<option value="">Гидравлические компоненты</option>
						<option value="">Насосы</option>
						<option value="">Детали двигателя</option>
					</select>
					<span class="filter__clear"></span>
				</div>

				<div class="filter__select-wrap">
					<span class="filter__select-title">Вид запчастей</span>
					<select name="" id="filter-select4" class="filter-select">
						<option selected value="All">Все виды</option>
						<option value="">Гидроцилиндры рукояти</option>
					</select>
					<span class="filter__clear"></span>
				</div>
			</div>

			<button class="form-filter__btn" type="submit" data-swap-txt="Очистить фильтры">Найти</button>
		</form> -->

		<div class="banner hidden-sm">
			<a href="dcf.html">
				<img src="media/banner-DCF-vert.jpg" alt="баннер dcf">
			</a>
			<a href="/Pukdoo/">
				<img src="media/banner-pukdoo-vert.jpg" alt="баннер Pukdoo">
			</a>
		</div>
	</aside>

	<div class="catalog-content-wrap">
		<h3 class="catalog-search-results">Найдено: 100 товаров</h3>

		<ul class="search-results-list">					
			<li>
				<div class="catalog-tables-container" id="tables-container">
					<div class="catalog-table-wrap">
						<table class="catalog-table">
							<tbody>
								<tr>
									<td class="has-img">
										<i class="product-image-icon">
											<div class="catalog-table__preview-img">
												<img src="img/prod6.jpg" alt="">
											</div>
										</i>
										<a href="">Автошины КАМА 986</a>
									</td>
									<td><a href="">PPR/654-14</a></td>
									<td><a href="">Универсальные</a></td>
									<td>
										<form action="">
											<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
											<button type="submit" class="catalog__add2cart-btn"></button>
										</form>
									</td>  
								</tr>
								<tr>
									<td><i class="product-image-icon"></i><a href="">Автошины КАМА 986</a></td>
									<td><a href="">65-4/NR65</a></td>
									<td><a href="">Универсальные</a></td>
									<td>
										<form action="">
											<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
											<button type="submit" class="catalog__add2cart-btn"></button>
										</form>
									</td>
								</tr>
								<tr>
									<td><a href="">Автошины КАМА 986</a></td>
									<td><a href="">654654</a></td>
									<td><a href="">Зимние</a></td>
									<td>
										<form action="">
											<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
											<button type="submit" class="catalog__add2cart-btn"></button>
										</form>
									</td>
								</tr>
								<tr>
									<td><a href="">Автошины КАМА 986</a></td>
									<td><a href="">6546AB/154</a></td>
									<td><a href="">Универсальные</a></td>
									<td>
										<form action="">
											<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
											<button type="submit" class="catalog__add2cart-btn"></button>
										</form>
									</td>
								</tr>
								<tr>
									<td><a href="">Автошины КАМА 986</a></td>
									<td><a href="">24.543.ZX</a></td>
									<td><a href="">Летние</a></td>
									<td>
										<form action="">
											<input type="number" name="quantity" value="1" step="1" min="1" max="9999" id=""></input>
											<button type="submit" class="catalog__add2cart-btn"></button>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</li>
			<div class="catalog-content__items-on-page">
				<span>Показать</span>

				<div class="catalog-content__items-on-page-select">
					<span value="" class="catalog-content__curr-items">100</span>
					<i></i>
					<ul class="catalog-content__items-ddown">
						<li value="?num=100">100</li>
						<li value="?num=250">250</li>
						<li value="?num=500">500</li>
						<li value="?num=1000">1000</li>
					</ul>
				</div>

				<span>товаров на транице</span>
			</div>

			<div class="paginator">
				<ul>
					<li><a href="">«</a></li>
					<li class="active">1</li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href="">6</a></li>
					<li><a href="">7</a></li>
					<li>...</li>
					<li><a href="">9</a></li>
					<li><a href="">»</a></li>
				</ul>
			</div>
		</ul>

		<h3 class="catalog-search-results">По вашему запросу найдено: 10 страниц</h3>

		<ul class="search-results-list">					
			<li>
				<a href=""><p>Купить <span class="highlighted">автошины</span> и колесные диски от ведущих мировых производителей по доступной цене. Продажа оптом и в розницу.</p></a>	
			</li>

			<li>
				<a href=""><p>Группа компаний «Сфера» осуществляет поставку грузовых и специальных <span class="highlighted">автошин</span> всех типоразмеров. У нас вы можете подобрать шины для грузовиков, самосвалов, грузовых прицепов, лесовозов и других грузовых машин.</p></a>
			</li>

			<li>
				<a href=""><p>Группа компаний «Сфера» осуществляет поставку грузовых и специальных <span class="highlighted">автошин</span> всех типоразмеров. У нас вы можете подобрать шины для грузовиков, самосвалов, грузовых прицепов, лесовозов и других грузовых машин.</p></a>
			</li>

			<li>
				<a href=""><p>Мы тесно сотрудничаем с ведущими зарубежными заводами <span class="highlighted">автошин</span>: Brigestone, Continental, Nokian, Pirelli, Micheline.</p></a>
			</li>

			<li>
				<a href=""><p>Группа компаний «Сфера» осуществляет поставку грузовых и специальных <span class="highlighted">автошин</span> всех типоразмеров. У нас вы можете подобрать шины для грузовиков, самосвалов, грузовых прицепов, лесовозов и других грузовых машин.</p></a>
			</li>

			<li>
				<a href=""><p>Группа компаний «Сфера» осуществляет поставку грузовых и специальных <span class="highlighted">автошин</span> всех типоразмеров. У нас вы можете подобрать шины для грузовиков, самосвалов, грузовых прицепов, лесовозов и других грузовых машин.</p></a>
			</li>

			<li>
				<a href=""><p>Мы тесно сотрудничаем с ведущими зарубежными заводами <span class="highlighted">автошин</span>: Brigestone, Continental, Nokian, Pirelli, Micheline.</p></a>
			</li>
		</ul>
		<div class="paginator paginator--center">
			<ul>
				<li><a href="">«</a></li>
				<li class="active">1</li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href="">6</a></li>
				<li><a href="">7</a></li>
				<li>...</li>
				<li><a href="">9</a></li>
				<li><a href="">»</a></li>
			</ul>
		</div>

		<section class="contact-us" style="box-shadow: none;">
			<div class="call-us">
					<p>Для уточнения информации о поставках запасных частей</p>
				<div class="call-us__inner-wrap">
					<div class="call-us-column-left" style="color: #bd0b30;">свяжитесь с нами по телефону</div>
		
					<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>
		
					<div class="call-us-column-right"><a class="call-us__phone" style="font-size: 22px" href="tel:88005009917">8 (800) 500-99-17</a></div>
				</div>
			</div>
			<div class="contact-us__info-text">
				Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время
			</div>
			<form action="" class="contact-us__form">
				<div class="form__input-wrap">
					<span class="form__tooltip">Lorem ipsum dolor.</span>
					<input name="" type="text" placeholder="Имя">
				</div>
				<div class="form__input-wrap">
					<input class="phone-mask" name="" type="text" placeholder="Телефон">
				</div>
				<div class="form__input-wrap">
					<input name="" type="text" placeholder="E-mail">
				</div>
				<div class="form__input-wrap">
					<input name="city" type="text" placeholder="Ваш город">
				</div>
				<div class="form__textarea-wrap">
					<span class="form__tooltip">Lorem ipsum dolor.</span>
					<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
				</div>
				<button>Отправить</button>
			</form>
			<p>Наши специалисты оперативно ответят на все ваши вопросы<br>
				и помогут подобрать нужную запчасть для вашей спецтехники.
			</p>
		</section>
	</div>
</section>

<div class="banner visible-sm">
	<a href="dcf.html">
		<img src="img/banner-DCF-vert.jpg" alt="баннер dcf">
	</a>
	<a href="/Pukdoo/">
		<img src="img/banner-pukdoo-vert.jpg" alt="баннер Pukdoo">
	</a>
</div>
{% endblock %}

{% block scripts %}
<script src="js/select2.js"></script>
<script src="js/filters.js"></script>
<script src="js/order.js"></script>
<script>
	$(document).ready(function() {
		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
		
		$('#grid-view-btn').click(function() {
			$('#blocks-container').show();
			$('#tables-container').hide();
		});

		$('#list-view-btn').click(function() {
			$('#tables-container').show();
			$('#blocks-container').hide();
		});

		$('.items-on-page-select').select2({
			minimumResultsForSearch: Infinity
		});

		initSelect2('#filter-select1');
		initSelect2('#filter-select2');
		initSelect2('#filter-select3');
		initSelect2('#filter-select4');
	});
</script>
<script>
	$('.catalog-content__items-on-page-select').click(function() {
		$(this).find('.catalog-content__items-ddown').toggle();
		$(this).find('i').toggleClass('arr-close');
	})

	$('.catalog-content__items-ddown').find('li').click(function () {
		$('.catalog-content__curr-items').attr('value', $(this).attr('value'));
		$('.catalog-content__curr-items').text($(this).text());
	})

	$('.catalog-content__curr-items').on('DOMSubtreeModified', function () {
		location = this.getAttribute('value');
	});

	// Hide ddown
	jQuery(function($) {
		$(document).mouseup(function(e) {
			if (!$(".catalog-content__items-on-page-select").is(e.target) && 
				$(".catalog-content__items-on-page-select").has(e.target).length === 0) {
					$('.catalog-content__items-ddown').hide();
					$('.arr-close').removeClass('arr-close');
				}
		});
	});
	//=============
</script>
{% endblock %}