{% extends "templates/base.html" %}

{% block title%}Двухосный трал лесовоз CIMC{% endblock %}

{% block css %}
<link rel="stylesheet" href="css/jquery.fancybox.css">
{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="catalog-main.html">Каталог продукции</a></li>
		<li class="active">Спецтехника</li>
	</ul>
</div>

<div class="separator"></div>

<section class="info-block catalog-page">
	<h1>Двухосный трал лесовоз CIMC</h1>
	<table class="product-info__spec-table">
		<tbody>
			<tr>
				<td>Стоимость</td>
				<td>900 000 руб</td>
			</tr>
			<tr>
				<td>Общая масса</td>
				<td>6,3 т.</td>
			</tr>
			<tr>
				<td>Длина</td>
				<td>12 500 мм</td>
			</tr>
			<tr>
				<td>Ширина</td>
				<td>2 480 мм</td>
			</tr>
			<tr>
				<td>Высота</td>
				<td>3 480 мм</td>
			</tr>
			<tr>
				<td>Пробег по РФ</td>
				<td>Без пробега</td>
			</tr>
			<tr>
				<td>Грузоподъемность</td>
				<td>60 000 кг.</td>
			</tr>
			<tr>
				<td>Характеристики лесовозных прицепов</td>
				<td>Модель ZJV9472TYM</td>
			</tr>
			<tr>
				<td>Шкворень</td>
				<td>2 дюйма Марка JOST2 дюйма Марка JOST</td>
			</tr>
			<tr>
				<td>Тормозная система</td>
				<td>двойная пневматическая система</td>
			</tr>
			<tr>
				<td>Год выпуска</td>
				<td>2012</td>
			</tr>
		</tbody>
	</table>
</section>

<section class="gallery">
	<div class="column-wrapper">
		<div class="column">
			<div class="item">
				<a href="media/spec1.jpg" class="fancy-img" rel="gallery" title="Двухосный трал лесовоз CIMC">
					<img src="media/spec1min.jpg" alt="">
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="media/spec2.jpg" class="fancy-img" rel="gallery" title="Двухосный трал лесовоз CIMC">
					<img src="media/spec2min.jpg" alt="">
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="media/spec3.jpg" class="fancy-img" rel="gallery" title="Двухосный трал лесовоз CIMC">
					<img src="media/spec3min.jpg" alt="">
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="media/spec4.jpg" class="fancy-img" rel="gallery" title="Двухосный трал лесовоз CIMC">
					<img src="media/spec4min.jpg" alt="">
				</a>
			</div>
		</div>

		<div class="column">
			<div class="item">
				<a href="media/spec5.jpg" class="fancy-img" rel="gallery" title="Двухосный трал лесовоз CIMC">
					<img src="media/spec5min.jpg" alt="">
				</a>
			</div>
		</div>
	</div>
</section>
<section class="contact-us">
	<div class="call-us">
		<div class="call-us__inner-wrap">
			<div class="call-us-column-left">Для уточнения информации о поставках запасных частей</div>

			<div class="call-us-column-middle"><span class="icon icon-telephone"></span></div>

			<div class="call-us-column-right">свяжитесь с нами по телефону <a class="call-us__phone" href="tel:88005009917">8 (800) 500-99-17</a></div>
		</div>
	</div>
	<div class="contact-us__info-text">
		Или оставьте заявку, и мы свяжемся с Вами в ближайшее Время
	</div>
	<form action="" class="contact-us__form">
		<div class="form__input-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<input name="" type="text" placeholder="Имя">
		</div>
		<div class="form__input-wrap">
			<input class="phone-mask" name="" type="text" placeholder="Телефон">
		</div>
		<div class="form__input-wrap">
			<input name="" type="text" placeholder="E-mail">
		</div>
		<div class="form__input-wrap">
			<input name="city" type="text" placeholder="Ваш город">
		</div>
		<div class="form__textarea-wrap">
			<span class="form__tooltip">Lorem ipsum dolor.</span>
			<textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
		</div>
		<button>Отправить</button>
	</form>
	<p>Наши специалисты оперативно ответят на все ваши вопросы<br> и помогут подобрать нужную запчасть для вашей спецтехники.</p>
</section>
{% endblock %}

{% block scripts %}
<script src="js/jquery.fancybox.pack.js"></script>
<script>
	$(document).ready(function () {
		$(".phone-mask").mask("+7 (000) 000-0000", {
			placeholder: "Телефон"
		});
		
		$(".fancy-img").fancybox({
			openEffect  : 'none',
			closeEffect : 'none',
			helpers: {
				overlay: {
					locked: false
				}
			}
		});
	})
</script>
{% endblock %}