{% extends "templates/base.html" %}

{% block title%}Спецтехника{% endblock %}

{% block main_content %}
<div class="breadcrumbs">
	<ul>
		<li><a href="index.html">Главная</a></li>
		<li><a href="catalog-main.html">Каталог продукции</a></li>
		<li class="active">Спецтехника</li>
	</ul>
</div>

<div class="separator"></div>

<section class="info-block catalog-page">
	<h1>Спецтехника</h1>
	<p>Группа компаний «Сфера» под заказ осуществляет поставку спецтехники различного назначения. Для уточнения информации, пожалуйста, свяжитесь с нашими менеджерами по телефону 8 (800) 500-99-17.</p>
	<p>В наличии:</p>
</section>

<section class="catalog catalog-page">
	<div class="column-wrapper">

		<div class="column">
			<div class="item">
				<a href="spectehnika-item.html">
					<img src="media/spec1min.jpg" alt="">
				</a>
			</div>
			<h3><a href="spectehnika-item.html">Двухосный трал лесовоз CIMC</a></h3>
			<p>Модель прицепа: CIMC Год выпуска: 2012 Состояние: Новое Пробег по РФ: Без пробега Грузоподъёмность: 60 000 кг. Масса: 6,3 т. Длина – 12500мм Ширина 2480 мм Высота 3480 мм Собственный вес – 6300кг Макс. Грузоподъемость 60000кг Марка стали...</p>
		</div>

	</div>
</section>
{% endblock %}