.catalog-page {
	.column {
		width: 50%;
		max-width: none;
		padding-right: 15px;
		margin: 0;
		margin-bottom: 15px;
		p {
			text-align: left;
		}
	}
	.item {
		float: left; 
		margin-right: 15px;
		margin-bottom: 5px;
	}
	.product-info__spec-table {
		width: 100%;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 10px;
		text-align: left;
	    font-family: Arial;
	    font-size: 21px;
	    line-height: 25px;
	    font-weight: normal;
		a {
			color: @color2;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	p {
		margin-top: 10px;
		font-size: 15px;
	}
	&.catalog {
		padding-bottom: 100px;
	}
}
@media (max-width: 767px) {
	.catalog-page {
		.column {
			width: 100%;
		}
		.item {
			float: none;
			margin-right: auto;
		}
	}
}