.about-us {
	padding: 30px;
	h1, h2, h3 {
		text-align: center;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	@media (max-width: 767px) {
		padding: 30px 0;
	}
}

.image-link {
	max-width: 400px;
	height: auto;
	display: block;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	img {
		width: 100%;
		max-width: 400px;
		height: auto;
		box-shadow: 0 0 0 3px transparent;
		transition: all 200ms linear;
	}
	&:hover {
		img {
			box-shadow:  0 0 0 3px darken(@color1, 15%);
		}
	}
	@media (max-width: 991px) {
		float: none;
		max-width: none;
		text-align: center;
	}
	@media (max-width: 600px) {
		width: 100%;
	}
}

.about__text {
	// width: 600px;
	// float: left;
	margin-bottom: 20px;

	p {
		margin-top: 0;
	}
	// @media (max-width: 1199px) {
	// 	width: 520px;
	// }
	// @media (max-width: 991px) {
	// 	width: 100%;
	// }
}

.about__banners {
	margin-bottom: 30px;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.about__banner-container {
	@media (max-width: 767px) {
		&:first-child {
			margin-bottom: 30px;
		}
	}
}