.ask {
	padding-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	h3 {
		margin-top: 0;
	}
}

.ask__btn {
	margin: 15px auto 0 auto;
	padding: 10px 20px;
	display: block;
	border: none;
	border-radius: 4px;
	background: linear-gradient(to bottom, #bf0c30, #e80c3b);
	color: #fff;
	&:hover {
		text-decoration: underline;
	}
	&--close {
	    background: transparent;
	    font-family: 'open_sans_semiboldregular', sans-serif;
	    font-size: 18px;
	    color: #464646;
	    text-decoration: underline;
	}
}
@media (max-width: 767px) {
	.ask__btn {
		width: 100%;
	}
}