.catalog {
	padding: 30px; 
	h2, h3 {
		text-align: center;
	}
} 
@media (max-width: 767px) {
	.catalog {
		padding-left: 0;
		padding-right: 0;
	}
}

.product-search-form {
	max-width: 680px;
	margin: 0 auto 80px auto;
	display: flex;
	justify-content: space-between;
	input {
		width: 100%;
		padding: 10px 15px;
		border: none;
		&::-webkit-input-placeholder {
			color:@color3;
		}
		&::-moz-placeholder {
			color:@color3;
			opacity: 1;
		}/* Firefox 19+ */
		&:-moz-placeholder {
			color:@color3;
			opacity: 1;
		}/* Firefox 18- */
		&:-ms-input-placeholder {
			color:@color3;
		}
	}
	button {
		padding: 10px 20px;
		display: block;
		border: none;
		border-radius: 4px;
		background: linear-gradient(to bottom, #bf0c30, #e80c3b);
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	.input-wrap {
		margin-right: 15px;
		flex-grow: 1;
		position: relative;
	}
	.ac-results {
		top: 44px;
		right: 0;
		border-radius: 0;
	}
	.result-wrapper {
		padding: 3px 13px;
	}
	@media (max-width: 767px) {
		input {
			padding-top: 7px;
			padding-bottom: 7px;
		}
		button {
			padding-left: 10px;
			padding-right: 10px;
			padding: 5px 5px 5px 7px;
		}
		.input-wrap {
			margin-right: 10px;
		}
		.ac-results {
			top: 35px;
		}
	}
}