.features {
	padding: 40px 0;
	h1, h2 {
		margin-top: 0;
		text-align: center; 
	}
}

.features__list {
	max-width: 500px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	li {
		padding-left: 26px;
		margin-bottom: 5px;
		position: relative;
		font-family: @font1;
		font-size: 16px;
		&:before {
		    content: '✔';
		    position: absolute;
		    left: 0;
		    font-size: 24px;
		    top: -6px;
		    color: #bd0b30;
		}
	}
}
@media (max-width: 767px) {
	.features__list {
		li {
			font-size: 14px;
			&:before {
			    left: 2px;
			    font-size: 17px;
			    top: -2px;
			}
		}
	}
}