.slider {
	padding: 30px;
	.owl-prev {
	  position: absolute;
	  width: 20px;
	  height: 46px;
	  top: 50%; 
	  left: 0;
	  transform: translateY(-50%);
	  background-position-y: -132px;
	  background-repeat: no-repeat;
	  background-image: url(../img/slide-arr-left.png);
	  &:hover {
	  	background-position-x: -28px;
	  }
	}
	.owl-next {
	  position: absolute;
	  width: 20px;
	  height: 46px;
	  top: 50%;
	  right: 0;
	  transform: translateY(-50%);
	  background-position-x: -7px;
	  background-position-y: -132px;
	  background-repeat: no-repeat;
	  background-image: url(../img/slide-arr-right.png);
	  &:hover {
	  	background-position-x: -35px;
	  }
	}
}
@media (max-width: 767px) {
	.slider {
		padding-left: 0;
		padding-right: 0;
	}
}

.slide-wrap {
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	img {
		width: 50% !important;
		height: auto;
		float: left;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
@media (max-width: 767px) {
	.slide-wrap {
		flex-direction: column;
		img {
			width: 100% !important;
		}
	}
}

.slide-text {
	width: 50%;
	h3 {
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 24px;
		color: #000;
		font-family: @font2;
		font-weight: normal;
	}
	h4 {
		margin-top: 0;
		font-size: 24px;
		color: #000;
		font-family: @font1;
		font-weight: normal;
	}
	a {
		display: block;
		height: 36px;
		width: 185px;
		padding-top: 6px;
		padding-left: 10px;
		background-image: url(../img/sliderlinkbg.png);
		background-repeat: no-repeat;
		color: #fff;
	}
	p {
		margin-top: 0;
		margin-bottom: 25px;
		font-family: Arial, sans-serif;
		font-size: 14px;
		color: #000;
	}
}
@media (max-width: 767px) {
	.slide-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		h3 {
			text-align: center;
		}
		a {
			padding-left: 20px;
		}
		p {
			text-align: center;
		}
		h4 {
			text-align: center;
		}
	}
	.slide-title, .slide-subtitle {
		text-align: center;
	}
}

.slide-title {
	display: block;
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 24px;
	color: #000;
	font-family: @font2;
	font-weight: normal;
}

.slide-subtitle {
	display: block;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 24px;
	color: #000;
	font-family: @font1;
	font-weight: normal;
}

.owl-carousel {
	.item {
		margin-bottom: 0;
	}
}