.footer__inner-wrap {
	display: flex;
	padding: 15px;
	margin: 0 auto;
	max-width: 1050px;
}

.footer__brand-logo {
	width: 20%;
	text-align: center;
	img {
		width: 100%;
		max-width: 140px;
		height: auto;
	}
}

.footer__contacts,
.footer__nav {
	width: 20%;
	margin: 0;
	padding: 0 15px;
	list-style: none;
	border-right: 1px solid @color4;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__contacts {
	.icon {
		margin-right: 10px;
		color: @color4;
		font-weight: bold;
	}
	li {
		position: relative;
		padding-left: 24px;
		.icon {
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
}

.footer__time {
	width: 20%;
	padding-left: 15px;
	padding-right: 40px;
	color: #000;
	font-family: @font1;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.clock {
		color: @color4;
		text-shadow: none;
		font-weight: bold; 
	}
}

.footer__bottom {
	margin: 0 auto;
	padding: 15px 50px;
	max-width: 1050px;
	font-family: @font1;
	color: #000;
	font-size: 12px;
	a {
		float: right;
		font-size: 12px;
		color: #fff;
		&:hover {
			color: @color2;
			text-decoration: none;
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	.icon-vbo {
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.footer__bottom {
		padding-left: 15px;
		padding-right: 15px;
		text-align: center;
		a {
			float: none;
		    display: block;
		    width: 155px;
		    margin: 0 auto 0px;
		}
	}
	.footer__copyright {
		display: inline-block;
		margin-bottom: 5px;
	}
}

.footer__sfera-logo {
	position: relative;
	width: 140px;
	img {
		width: 100%;
	}
	.sfera-logo-top {
		width: 140px;
		position: absolute;
		top: -47px;
		left: 0;
	}
}

@media (max-width: 991px) { 
	.page-footer {
		ul {
			position: relative;
			li {
				text-align: center;
			}
			// &:after {
			// 	position: absolute;
			// 	bottom: -15px;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	content: '';
			// 	display: block;
			// 	height: 1px;
			// 	width: 250px;
			// 	background-color: @color4;
			// }
		}
	}
	.footer__inner-wrap {
		flex-direction: column;
	}
	.footer__brand-logo {
		width: 100%;
		margin-bottom: 25px;
	}
	.footer__contacts {
		flex-direction: column;
		width: 100%;
		margin-bottom: 25px;
		border: none;
		li {
			padding-left: 0;
		}
		.icon {
			display: none;
		}
	}
	.footer__nav {
		flex-direction: column;
		width: 100%;
		margin-bottom: 25px;
		border: none;
	}
	.footer__col-wrap {
		text-align: center;
	}
	.footer__time {
		width: 100%;
		padding-right: 15px;
		align-items: center;
		span {
			text-align: center;
		}
	}
}