.footer-appendix {
    font-family: @font1;
    font-size: 12px;

    @media (max-width: 991px) {
        text-align: center;
    }

    @media (min-width: 992px) {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer-appendix__sitemap {
    margin-bottom: 5px;

    @media (min-width: 992px) {
        width: 30%;
        margin-bottom: 0;
        text-align: center;
        order: 2;
    }
}

.footer-appendix__vbo {
    margin-bottom: 5px;
    font-size: 12px;

    .icon {
        font-size: 16px;
    }

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: @color2;
        }
    }

    @media (min-width: 992px) {
        width: 35%;
        margin-bottom: 0;
        text-align: right;
        order: 3;
    }
}

.footer-appendix__copyright {
    color: #000;

    @media (min-width: 992px) {
        width: 35%;
        order: 1;
    }
}