.page-footer {
	margin: 0 auto; 
	width: 100%;
	background-color: @color6;
	box-shadow: inset 0 10px 7px -8px #545454;
	position: absolute;		
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1; 
	li {
		color: #000;
		font-family: @font1;
		font-size: 16px;
		a {
			color: inherit;
			text-decoration: none;
			&:hover {
				color: @color4;
			}
		}
	}
}

.page-footer__top {
    padding: 35px 0;
    background-color: @color6;
    box-shadow: inset 0px 9px 20px -7px #5f5f5f;
}

.page-footer__top-inner {
    @media (min-width: 992px) {
        display: flex;
        align-items: center;
    }
}

.page-footer__logo {
    padding: 0 12px;
    text-align: center;

    @media (max-width: 991px) {
        margin-bottom: 20px;
    }

    @media (min-width: 992px) {
        width: 20%;
        text-align: left;
    }
}

.page-footer__top-info {
    line-height: 1.1;

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    ul {
        padding: 0 12px;
    }

    li {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    .icon {
        color: @color2;
        font-weight: bold;
    }

    @media (max-width: 991px) {
        .icon {
            display: none;
        }

        ul {
            margin-bottom: 20px;
        }
    }

    @media (min-width: 992px) {
        width: 80%;

        ul {
            width: 25%;
            float: left;
        }

        li {
            padding-left: 25px;
            position: relative;
        }

        .icon {
            position: absolute;
            top: 1px;
            left: 0;
        }
    }
}

.page-footer__time {
    padding: 0 12px;
    color: #000;
    font-family: @font1;
    text-align: center;
    line-height: 1.1;
    
    .clock {
		color: @color4;
    }
    
    @media (min-width: 992px) {
        width: 25%;
        text-align: left;
        float: left;

        .clock {
            display: inline-block;
            margin-top: 4px;
        }
    }
}

.page-footer__sitemap {
    text-align: center;
    font-weight: bold;
    line-height: 1.1;

    @media (min-width: 992px) {
        width: 20%;
        float: left;
        text-align: left;
    }
}

.page-footer__bottom {
    padding: 25px 0;
    background-color: #9e9e9e;
    background-image: url(../img/footer-gears.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: auto auto;
}

.page-footer__bottom-cols {
    @media (min-width: 992px) {
        display: flex;
    }
}

.page-footer__bottom-col {
    padding: 0 12px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.1;

    li {
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    @media (max-width: 991px) {
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 250px;
            background-color: @color4;
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media (min-width: 992px) {
        margin-bottom: 0;
        width: 20%;
        text-align: left;

        &:not(:last-child) {
            border-right: 1px solid @color2;
        }
    }
}