<footer class="page-footer" id="page-footer">
    <div class="page-footer__top">
        <div class="container">
            <div class="row">
                <div class="page-footer__top-inner">
                    <div class="page-footer__logo">
                        <a href="/"><img src="img/logo-footer2.png" alt="логотип сфера"></a>
                    </div>
                    <div class="page-footer__top-info">
                        <ul>
                            <li><span class="icon icon-placeholder"></span>680042 г.&nbsp;Хабаровск<br> ул. Шелеста, 24</li>
                        </ul>
                        <ul>
                            <li><a href="tel:88005009917"><span class="icon icon-telephone"></span>8 (800) 500-99-17</a></li>
                            <li><span class="icon icon-clock"></span>пн-пт 9.00 - 18.00</li>
                        </ul>
                        <ul>
                            <li><a href="mailto:rus@sfera-khv.ru"><span class="icon icon-envelope"></span>rus@sfera-khv.ru</a></li>
                            <li id="open-ask-popup"><span class="icon icon-help-button"></span>задать вопрос</li>
                        </ul>
                        <div class="page-footer__time">
                            <span>Время в Хабаровске <span class="clock"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__bottom">
        <div class="container">
            <div class="row">
                <div class="page-footer__bottom-cols">
                    <div class="page-footer__bottom-col">
                        <ul>
                            {% for item in menu %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="page-footer__bottom-col">
                        <ul>
                            <li><a href="/404.html">Запчасти Caterpillar</a></li>
                            <li><a href="/404.html">Запчасти Komatsu</a></li>
                            <li><a href="/404.html">Запчасти Doosan</a></li>
                            <li><a href="/404.html">Запчасти Hitachi</a></li>
                            <li><a href="/404.html">Запчасти Hyundai</a></li>
                            <li><a href="/404.html">Запчасти Shantui</a></li>
                        </ul>
                    </div>
                    <div class="page-footer__bottom-col">
                        <ul>
                            <li><a href="/404.html">Гусеницы в сборе</a></li>
                            <li><a href="/404.html">Катки опорные</a></li>
                            <li><a href="/404.html">Направляющие колёса</a></li>
                            <li><a href="/404.html">Звёздочки и сегменты</a></li>
                            <li><a href="/404.html">Коронки ковша</a></li>
                            <li><a href="/404.html">Ножи отвала</a></li>
                        </ul>
                    </div>
                    <div class="page-footer__bottom-col">
                        <ul>
                            <li><a href="/404.html">Запчасти на бульдозер</a></li>
                            <li><a href="/404.html">Запчасти на экскаватор</a></li>
                            <li><a href="/404.html">Запчасти на фронтальный погрузчик</a></li>
                            <li><a href="/404.html">Запчасти на грейдер</a></li>
                        </ul>
                    </div>
                    <div class="page-footer__bottom-col">
                        <ul>
                            <li><a href="/404.html">Шины Bridgestone</a></li>
                            <li><a href="/404.html">Шины Michelin</a></li>
                            <li><a href="/404.html">Шины Triangle</a></li>
                            <li><a href="/404.html">Шины Marcher</a></li>
                            <li><a href="/404.html">Шины Cordiant</a></li>
                            <li><a href="/404.html">Шины КАМА</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-appendix">
                <div class="footer-appendix__sitemap">
                    <a href="/sitemap.html">Карта сайта</a>
                </div>
                <div class="footer-appendix__vbo">
                    <a href="http://vbo27.ru">разработка сайта <span class="icon icon-vbo"></span></a>
                </div>
                <div class="footer-appendix__copyright">© 2009 - 2016. Компания Сфера. Все права защищены</div>
            </div>
        </div>
    </div>
    <!-- <div class="footer__inner-wrap">
        <div class="footer__brand-logo">
            <a href="/"><img src="img/logo-footer2.png" alt="логотип сфера"></a>
        </div>
        <ul class="footer__contacts">
            <li><span class="icon icon-placeholder"></span>680042, г. Хабаровск ул. Шелеста, 24</li>
            <li>
                <span class="icon icon-telephone"></span><a href="tel:+74212739966">(4212) 73-99-66</a><br>
                <a href="tel:88005009917">8 (800) 500-99-17</a>
            </li>
        </ul>
        <ul class="footer__contacts">
            <li><a href="mailto:rus@sfera-khv.ru"><span class="icon icon-envelope"></span>rus@sfera-khv.ru</a></li>
            <li><span class="icon icon-clock"></span>пн-пт 9.00 - 18.00</li>
            <li id="open-ask-popup"><span class="icon icon-help-button"></span>задать вопрос</li>
        </ul>
        <ul class="footer__nav"> 
            <div class="footer__col-wrap">
                <li><a href="catalog-main.html">Каталог  продукции</a></li>
                <li><a href="about.html">О компании</a></li>
                <li><a href="gallery.html">Галерея</a></li>
                <li><a href="404.html">Оплата и доставка</a></li>
                <li><a href="article.html">Статьи</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </div> 
        </ul>
        <div class="footer__time">
            <span>Время<br>в Хабаровске <span class="clock"></span></span>
        </div>
    </div>
    <div class="footer__bottom">© 2009 - 2016. Компания Сфера. Все права защищены<a href="http://vbo27.ru">разработка сайта <span class="icon icon-vbo"></span></a></div> -->
</footer>