<header class="header" id="page-header">
    <div class="header__brand-logo">
        <a href="index.html">
            <img src="img/sfera-logotip.png" alt="логотип сфера">
        </a>
    </div>
    <div class="header__main">
        <div class="header__main-top">
            <ul class="header__links-list">
                <li><a href="tel:88005009917"><span class="icon icon-telephone"></span>8 (800) 500-99-17</a></li>
                <li><span class="icon icon-clock"></span>пн - пт 9:00 - 18:00</li>
                <li><span class="icon icon-shopping-cart"></span>Ваша заявка пуста</li>
                <li><a href="mailto:rus@sfera-khv.ru"><span class="icon icon-envelope"></span>rus@sfera-khv.ru</a></li>
                <li>Время в Хабаровске <span class="clock"></span></li>
                <li class="make-order"><a href="">Оформить заявку</a></li>
            </ul>
        </div>
        <div class="header__main-bottom">
            <ul class="header-bottom__order-mobile">
                <li class="order-quantity" data-text-swap="Товаров в вашей заявке: "><span class="icon icon-shopping-cart"></span>Ваша заявка пуста</li>
                <li class="make-order"><a href="">Оформить заявку</a></li>
            </ul>
            <button class="mobile-menu-btn" id="mobile-menu-btn">
                <span class="btn-bar"></span>
                <span class="btn-bar btn-bar-mid"></span>
                <span class="btn-bar"></span>
            </button>
            <div class="clearfix"></div>
            <ul class="nav-list">
                {% for item in menu %}
                <li class="nav-list__item">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                    {% if item.submenu %}
                    <ul class="nav-list__sublist">
                        {% for subitem in item.submenu %}
                        <li class="nav-list__sublist-item">
                            <a href="{{ subitem.url }}">{{ subitem.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>