{% for catalog in side_catalog%}
<div class="side-catalog">
    <div class="side-catalog__title">
        {{ catalog.title }}
        <button class="side-catalog__toggle"><span></span></button>
    </div>
    <ul class="side-catalog__list">
    {% for item in catalog.item %}
        {% if item.subcatalog%}
        <li class="side-catalog__list-item side-catalog__list-item-dropdown">
        <button class="side-catalog__toggle"><span></span></button>
        {% else %}
        <li class="side-catalog__list-item">
        {% endif %}
            <a href="{{ item.url }}">{{ item.name }}</a>
            {% if item.subcatalog %} 
            <ul class="side-catalog__sublist">
                {% for subitem in item.subcatalog %}
                <li class="side-catalog__sublist-item">
                    <a href="{{ subitem.url }}">{{ subitem.name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endfor %}