.catalog-content__items-on-page-select {
	display: inline-block;
	width: 70px;
	height: 23px;
	padding-right: 20px;
	vertical-align: middle;
	text-align: right;
	position: relative;
	cursor: pointer;
	i {
		display: block;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid #464646;
		position: absolute;
		top: 6px;
		right: 4px;
		&.arr-close { 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 8px solid #464646;
			border-top: 0;
		}
	}
}
 
.catalog-content__items-ddown {
	display: none;
	width: 68px;
	position: absolute;
	top: 23px;
	right: 0;
	z-index: 500;
	text-align: left;
	border: 1px solid #aaaaaa;
	background-color: #fff;
	font-size: 15px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	li {
		padding: 6px;
		cursor: pointer;
		&:hover {
			background-image: linear-gradient(to bottom, #e4e4e4 50%, #d9d9d9 50%, #eaeaea);
			box-shadow: inset 0px 1px 0 0px #999, inset 0px -1px 0 0px #999;
		}
	}
}