.catalog-page-wrap {
	padding: 30px;
	padding-top: 0;
	.h1{
		font-size: 20px;
		font-weight: bold;
		margin: 0.67em 0;
	}
	h1, .h1 {
		margin-bottom: 30px;
	}
	.h2{
		font-size: 20px;
		margin-top: .83em;
		margin-bottom: .83em;
	}
	.h3{
		font-size: 18px;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.call-us__inner-wrap {
		display: block;
		text-align: center;
	}
	[class*="call-us-column"] {
		width: auto;
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
	}
	.call-us-column-middle {
		margin-left: 10px;
		margin-right: 10px;
	}
	.call-us__phone {
		font-size: 24px;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	@media (max-width: 767px) {
		padding-right: 0;
		padding-left: 0;
		.call-us-column-middle {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

.catalog-search-results {
	margin-top: 0;
	@media (max-width: 767px) {
		margin-top: 40px;
	}
}

.catalog-page__sideblock {
	width: 225px;
	float: left; 
	@media (max-width: 991px) {
		width: 100%;
		float: none;
	}
}

.catalog-content-wrap {
	width: 100%;
	max-width: 696px;
	float: right;
	h4 {
		margin-top: 0;
		margin-bottom: 10px;
	}
	.call-us {
		background-image: linear-gradient(to right, @color1, #f2f2f2 15%, #f2f2f2 85%, @color1);
	}
	@media (max-width: 1199px) {
		max-width: 630px;
	}
	@media (max-width: 991px) {
		max-width: none;
		width: 100%;
		float: none;
	}
}