.catalog-links {
    margin-bottom: 20px;
}

.catalog-links--xs-scrollable {
    .catalog-links__row {
        @media (max-width: 767px) {
            height: 130px;
            overflow: auto;
            box-shadow: 
                inset 0px 2px 10px -5px black,
                inset 0px -2px 15px -4px white;
        }
    }
}

.catalog-links--4-cols {
    .catalog-links__row {
        @media (min-width: 768px) {
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    .catalog-links__col {
        @media (min-width: 768px) {
            padding-left: 16px;
            padding-right: 16px;
            width: 25%;
        }
    }

    .catalog-links__img {
        margin-bottom: 28px;
    }
}

.catalog-links--5-cols {
    .catalog-links__row {
        @media (min-width: 768px) {
            margin-left: -11px;
            margin-right: -11px;
        }
    }

    .catalog-links__col {
        padding: 0 11px;

        @media (min-width: 768px) {
            width: 20%;
        }
    }

    .catalog-links__img {
        margin-bottom: 16px;
        border: none;
        box-shadow: 0 0 0 3px transparent;
        transition: all 200ms linear;

        &:hover {
            box-shadow: 0 0 0 3px #b4b4b4;
        }
    }
}

.catalog-links--6-cols {
    .catalog-links__col {
        @media (min-width: 768px) {
            width: 16.66666667%;
        }
    }
}

.catalog-links__title {
    margin-bottom: 10px;
    font-family: @font1;
    font-size: 20px;
    font-weight: bold;
}

.catalog-links__row {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.catalog-links__col {
    width: 50%;
    margin-bottom: 5px;
    padding: 0 10px;

    @media (min-width: 650px) {
        width: 33.33333333%;
    }
}

.catalog-links__link {
    font-size: 14px;
    font-family: inherit;
    color: inherit;
    text-decoration: underline;
    word-break: break-word;
    word-wrap: break-word;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.catalog-links__img {
    width: 100%;
    background-color: #fff;
    border: 3px solid lighten(@color1, 5%);
    transition: all 200ms linear;

    &:hover {
        border-color: darken(@color1, 15%);
    }
}