.catalog-similar-products {
	.column {
		margin-bottom: 20px;
		width: 100%;
		max-width: 150px;
		margin-right: 32px;
		text-align: center;
		a {
			font-family: @font1;
			color: inherit;
			font-size: 14px;
		}
		img {
			width: 100%;
			max-width: 150px;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		@media (max-width: 1199px) {
			margin-right: 10px;
		}
		@media (max-width: 991px) {
			width: 20%;
			margin-right: 6.666666667%;
		}
		@media (max-width: 660px) {
			width: 31%;
			max-width: none;
			margin-right: 3.5%;
			&:nth-child(4n) {
				margin-right: 3.5%;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		@media (max-width: 400px) {
			width: 48%;
			margin-right: 4%;
			&:nth-child(4n) {
				margin-right: 4%;
			}
			&:nth-child(3n) {
				margin-right: 4%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}