.catalog-content__items-on-page {
	text-align: right;
	font-size: 14px;
	select {
		border: none;
		background-color: @color1;
	}
	.select2-container {
		width: 70px !important;
		display: inline-block;
	}
	.select2-container--default .select2-selection--single {
		background-color: @color1;
		border: none;
	}
	.select2-selection__rendered {
		padding-left: 6px;
		background-color: @color1;
		font-size: 14px;
	}
	b {
	    border-color: @color3 transparent transparent transparent !important;
	    margin-left: -5px !important;
	    margin-top: -7px !important;
	}
	.select2-container--open b {
		border-color: transparent transparent @color3 transparent !important;
	}
}