.catalog-table-wrap {
	h3, .h3{
		margin-top: 0;
	}
	.h3 {
		font-weight: bold;
		margin-bottom: 1em;
		font-size: 18px;
	}
}

.catalog-table {
	margin-bottom: 15px;
	width: 100%;
	font-family: @font1;
	font-size: 13px;
	tbody {
		border: 1px solid #42474a;
		tr {
			&:nth-child(odd) {
				background-color: #b5b5b7;
			}
			&:nth-child(even) {
				background-color: #cbcbcb;
			}
			&:hover {
				background-color: #98989A;
			}
		}
	}
	th {
		padding: 3px;
		padding-bottom: 8px;
		text-align: left;
	}
	td {
		padding: 3px;
		padding-top: 2px;
		position: relative;
		a {
			display: block;
			color: inherit;
			text-decoration: none;
		}
		&:first-child {
			padding-left: 23px;
			width: 50%;
		}
		&:last-child {
			width: 90px;
		}
	}
	input {
		padding-left: 3px;
		width: 60px;
		background-color: transparent;
		border: 1px solid #888;
	}
	form {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	&-search-page {
		td {
			&:nth-of-type(3):before {
				content: '' !important;
			}
		}
	}
	@media (max-width: 767px) {
		td {
			display: block;
			width: 100% !important;
			position: relative;
			&:first-child {
				padding-left: 3px;
			}
			&.has-img {
				padding-left: 23px;
			}
		}
		&.catalog-tire-table {
			td {
				&:nth-of-type(2) {
					width: 50% !important;
					float: left;
				}
				&:nth-of-type(3) {
					width: 50% !important;
					float: right;
				}
			}
		}
	}
}

.catalog__add2cart-btn {
	padding: 10px;
	border: none;
	background-color: transparent;
	background-image: url(../img/to_cart.png);
	float: right;
}

.product-image-icon {
	visibility: hidden;
	position: absolute;
	top: 6px;
	left: 3px;
	display: block;
	width: 15px;
	height: 13px;
	background-image: url(../img/camera.png);
	cursor: pointer;
	&:hover {
		.catalog-table__preview-img {
			visibility: visible;
			opacity: 1;
		}
	}
	@media (max-width: 767px) {
		top: 4px;
	}
}

.catalog-table__preview-img {
	left: 20px;
	top: 0;
	width: 150px;
	position: absolute;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transition: all 200ms ease; 
	img {
		width: 100%;
		height: auto;
	}
}

.has-img {
	.product-image-icon {
		visibility: visible;
	}
}