.catalog-blocks-container {
	display: none;
}

.catalog-blocks-wrap {
	font-size: 0;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.catalog-blocks__item-wrap {
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 100%;
	font-family: @font1;
	font-size: 13px;
	img {
		width: 100%;
		height: auto;
	} 
	form {
		margin: 0 auto;
		margin-top: 5px;
		width: 100px;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		input {
			padding-left: 2px;
			width: 62px;
			height: 20px;
			background-color: transparent;
		    border: 1px solid @color3;
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	@media (min-width: 413px) {
		width: 49%;
		margin-right: 2%;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	@media (min-width: 600px) {
		width: 32%;
		margin-right: 2%;
		&:nth-child(2n) {
			margin-right: 2%;
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.catalog-blocks__item-sign {
	padding: 10px;
	height: 81px;
	background-color: #cacaca;
	text-align: center;
	position: relative;
}