.form-filter {
	width: 100%;
	padding: 10px 7px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #c0c0c0;
	box-shadow:
		inset 0 1px 3px -1px black, 
		0 1px 2px -1px white;
	select {
		width: 100%;
		height: 25px;
		margin-bottom: 10px;
		border-radius: 3px;
		border-color: @color6;
		color: @color6;
		font-size: 16px;
	}
	input {
		flex-grow: 1;
		display: inline-block; 
		width: 100%;
		padding-left: 4px;
		height: 25px;
		border: 1px solid @color6;
		border-right: none;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		color: #000;
		font-size: 15px;
	}
	.h6 {
		margin: 0;
		font-family: Arial;
		font-size: 14px;
		font-weight: bold;
	}
	&--no-bg {
		.form-filter__inner-wrap {
			padding: 0;
			background-image: none;
			border-radius: 0;
			box-shadow: none;
		}
	}
}

.form-filter__inner-wrap {
	display: none;
	padding: 10px 7px;
	border-radius: 4px;
    box-shadow: inset 0 1px 2px -1px black, 0 1px 2px -1px white;
	background-image: url(../img/pattern.png);
}

.form-filter__btn {
	margin: 20px auto 0;
	padding: 5px 20px;
	display: block;
	border: none;
	border-radius: 4px;
	background: linear-gradient(to bottom, #bf0c30, #e80c3b);
	color: #fff;
	font-family: Arial, sans-serif;
	&:hover {
		text-decoration: underline;
	}
	&--clear {
	    background: #42474a;
	}
}

.filter__select-wrap {
	margin-top: 5px;
	padding-right: 22px;
	position: relative;
	label {
		font-size: 14px;
	}
}

.filter__select-title {
	font-size: 14px;
}

.filter__input-wrap {
	display: flex;
	overflow: hidden;
	padding-right: 22px;
	border-radius: 3px;
	position: relative;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.form__search-btn {
	padding: 0;
	padding-left: 20px;
	width: 20px;
	flex-basis: 20px;
	border: 1px solid @color6;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #fff;
	background-image: url(../img/mini-search.png);
	background-position: -4px 0;
	background-repeat: no-repeat;
	float: right;
}

.filter__clear, .filter__input-clear {
	display: none;
	position: absolute;
	top: 28px;
	right: 0;
	width: 17px;
	height: 20px;
	background-image: url(../img/cross.png);
	cursor: pointer;
	@media (max-width: 767px) {
		top: 26px;
	}
}

.filter__input-clear {
	top: 4px;
}