.product-info {
	margin-bottom: 40px;
}

.flex-viewport {
	img {
		width: 100%;
		height: auto;
	}
}

.product-photos {
	visibility: hidden;
	margin-left: 15px;
	margin-bottom: 20px;
	width: 300px;
	float: right;
	@media (max-width: 767px) {
		width: 100%;
		margin-left: 0;
		float: none;
	}
}

.product-info__group {
	margin-bottom: 23px;
	a {
		color: @color2;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	form {
		width: 250px;
	}
	input {
		width: 80px;
		padding-left: 3px;
		height: 25px;
		border: 1px solid #b3b5b7;
		border-radius: 3px;
	}
	button { 
		float: right;
		padding: 0 20px;
		padding-top: 1px;
		display: block;
		border: none;
		border-radius: 4px;
		background: linear-gradient(to bottom, #bf0c30, #e80c3b);
		color: #fff;
		font-family: Arial, sans-serif;
		&:hover {
			text-decoration: underline;
		}
	}
	table {
		text-align: left;
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	tr {
		border-bottom: 1px solid @color3;
	}
	td {
		width: 50%;
	}
}

.product-info__spec-table {
	td {
		padding: 0 3px;
		border: 1px solid #a2a2a2;
	}
}