.header {
	z-index: 1000;
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	display: flex;

	.icon {
		margin-right: 10px;
		color: @color7;
		font-weight: bold;
	}

	.clock {
		color: @color7;
	}

	@media (max-width: 1199px) {
		max-width: 970px;
	}

	@media (max-width: 991px) {
		max-width: 750px;
	}

	@media (max-width: 767px) {
		position: fixed;
	}
}

.header__brand-logo {
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 1;
	width: 100%;
	max-width: 230px;
	background-color: transparent;

	img {
		width: 100%;
		height: auto;
	}

	@media (max-width: 1199px) {
		max-width: 200px;
	}

	@media (max-width: 991px) {
		left: 11px;
		max-width: 166px;
	}

	@media (max-width: 767px) {
		left: 0;
		max-width: 92px;
	}
}



.header__main {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: flex-end;
}

.header__main-top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	background-color: rgba(0, 0, 0, .28);
	position: relative;

	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: -15px;
		width: 15px;
		height: 108%;
		background-image: url(../img/part-dkgray.png);
		background-repeat: repeat-y;
		background-position: 0 0; 
		background-size: 21px 24px;
	}

	&:after { 
		position: absolute;
		bottom: -5px;
		left: 0;
		content: '';
		display: block;
		width: 100%;
		height: 5px;
		background-image: url(../img/header-top-border-img.png);
		background-repeat: repeat-x;
	}

	@media (max-width: 767px) {
		display: none;
	}
}

.header__links-list {
	width: 75%;
	margin: 0;
	padding: 0;
	list-style: none;
	color: @color7;
    font-family: @font1;
	font-size: 16px;
	
	li {
		float: left;
		width: 33.333333%;
		padding: 3px 0 3px 40px;
		margin-bottom: 3px;
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;

		&:hover {
			color: @color2;
		}
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	@media (max-width: 1199px) {
		li {
			padding-left: 25px;
		}
	}

	@media (max-width: 991px) {
		li {
			padding-left: 0;
		}
	}
}

.header__main-bottom {
	width: 75%;
	flex-grow: 1;

	@media (max-width: 991px) {
		width: 100%;
	}

	@media (max-width: 767px) {
		background-color: #9d9d9d;
		text-align: right;
	}
}

.header-bottom__order-mobile {
	display: inline-block;
	margin: 0;
	margin-top: 7px;
	padding: 0;
	list-style: none;
	color: @color7;
    font-family: @font1;
	font-size: 10px;
	
	li {
		text-align: left;
		padding: 4px 10px 2px 0;
	}

	a {
		color: @color2;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	@media (min-width: 350px) {
		margin-top: 5px;
		font-size: 12px;
		li {
			padding: 2px 10px 2px 0;
		}
	}

	@media (min-width: 768px) {
		display: none;
	}
}