.mobile-menu-btn {
	padding: 17px;
	float: right;
	border: none;
	background: linear-gradient(to bottom, #bf0c30, #e80c3b);

	&:hover {
		background: @color4;
	}

	@media(min-width: 768px) {
		display: none;
	}
}

.btn-bar {
	display: block;
	width: 100%;
	height: 3px;
	background-color: @color3;
	width: 25px;
}

.btn-bar-mid {
	margin: 5px 0;
}