.nav-list {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgba(255, 255, 255, .5);
	color: @color5;

	a {
		display: block;
		text-decoration: none;
		font-family: @font1;
		color: inherit;

		// &.active {
		// 	background-color: @color6;
		// 	color: #fff;
		// 	box-shadow: 
		// 		inset 0 1px 2px -1px black,
		// 		0 1px 2px -1px white;
		// }
	}

	@media (min-width: 768px) {
		margin-top: 10px;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		background-color: transparent;
	}

	// @media (max-width: 767px) {
	// 	display: none;
	// 	background-color: rgba(255, 255, 255, .5);

	// 	li {
	// 		text-align: left;
			
	// 	    a {
	// 	    	display: block;
	// 	    	padding-top: 10px;
	// 	    	padding-bottom: 10px;
	// 	    }
	// 	}
	// }
}

.nav-list--show {
	display: block;

	@media (min-width: 768px) {
		display: flex;
	}
}

.nav-list__item {
	text-align: left;
	position: relative;

	& > a {
		padding: 10px 15px;
		border-radius: 3px;

		&:hover {
			text-decoration: underline;
		}
	}

	&.nav-list__item--active {
		& > a {
			background-color: @color6;
			color: #fff;
			box-shadow: 
				inset 0 1px 2px -1px black,
				0 1px 2px -1px white;
		}
		@media (max-width: 767px) {
			& > .nav-list__sublist {
				margin-top: 10px;
			}
		}
	}

	&:hover {
		.nav-list__sublist {
			display: block;
		}		
	}

	@media (min-width: 768px) {
		text-align: center;

		& > a {
			padding: 5px 15px;
		}

		&:hover {
			& > a {
				text-decoration: none;
				background-color: #42474a;
				color: #fff;
				box-shadow: 
					inset 0 1px 2px -1px black,
					0 1px 2px -1px white;
			}
		}
	}
}

// .nav-list__dropdown {
// 	position: relative;

// 	&:hover {
// 		.nav-list__sublist {
// 			display: block;
// 		}		
// 	}
// }

.nav-list__sublist {
	overflow: hidden;

	@media (min-width: 768px) {
		display: none;
		min-width: 100%;
		background-color: #c0c0c0;
		box-shadow: 
			inset 0 1px 3px -1px black, 
			0 1px 2px -1px white;
		border-radius: 4px;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 1000;
	}
}

.nav-list__sublist-item {
	text-align: left;
	position: relative;
	white-space: normal;

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	a {
		padding: 0 35px;
	}

	&:hover {
		a {
			text-decoration: underline;
		}
	}

	@media (min-width: 768px) {
		padding: 5px 15px;
		margin-bottom: 0 !important;
		white-space: nowrap;

		&:not(:last-child) {
			&:before {
				content: '';
				display: block;
				height: 3px;
				background-image: radial-gradient(ellipse at bottom, rgba(170, 170, 170, 0.70), transparent);
				position: absolute;
				left: 0;
				right: 0;
				bottom: 1px;
			}
			&:after {
				content: '';
				display: block;
				height: 1px;
				background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7), transparent);
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		&:hover {
			background-color: #98989a;
			color: #fff;

			a {
				text-decoration: none;
			}
		}

		a {
			padding: 0;
		}
	}
}