.ac-results {
    background-color: #fff;
    border: 1px solid @color6;
    border-radius: 3px;
    font-size: 14px;

    position: absolute;
    top: 24px;
    left: 0;
    right: 22px;
    z-index: 999;
    a {
        word-wrap: break-word;
    	color: black;
    	&:hover {
    		color: @color2;
    	}
    }
}

.result-wrapper {
    padding: 1px 4px;
}