.articles-group {
	padding: 30px;
	margin-bottom: 40px;
	@media (max-width: 767px) {
		margin-top: 25px;
		padding: 0;
	}
}

.article-wrap {
	margin-bottom: 25px;
	h2 {
		margin-top: 0;
		margin-bottom: 5px;
		color: @color2;
	}
	img {
		float: left;
		margin-right: 20px;
		transition: all 200ms linear;
	}
	p {
		margin: 5px 0;
		color: @color3;
		line-height: 22px;
	}
	a {
		text-decoration: none;
		&:hover {
			h2 {
				text-decoration: underline;
			}
		}
	}
	&:hover {
		img {
			box-shadow: 0 0 0 3px darken(@color1, 15%);
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	@media (max-width: 767px) {
		img {
			margin-bottom: 15px;
			float: none;
		}
	}
}