.popup-overlay, .popup-overlay-2 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
	z-index: 1500;
	overflow: auto;
	visibility: hidden;
	opacity: 0; 
	transition: all 300ms ease;
	&--open {
		visibility: visible;
		opacity: 1;
	}
}

.popup-overlay-2 {
	z-index: 1600;
}

.popup-overlay__inner {
	margin-top: 70px;
	margin-bottom: 70px;
	background-color: @color1;
	position: relative;
}

#open-ask-popup {
	cursor: pointer;
	&:hover {
		color: @color2;
	}
}

#close-ask-popup {
	position: absolute;
	top: 32px;
	right: 20px;
	font-weight: bold;
	cursor: pointer;
	&:hover {
		color: @color2;
	}
}