.banner {
	margin: 40px 0;
	text-align: center;
	img {
		width: 100%;
		max-width: 400px;
		box-shadow: 0 0 0 3px transparent;
		transition: all 200ms ease;
		margin-bottom: 15px;
		&:hover {
			box-shadow: 0 0 0 3px darken(@color1, 15%);
		}
	} 
}