.bottom-border-shadow {
  width: 100%;
  height: 7px;
  position: relative;
  overflow: hidden;
  > div {
    width: 100%;
    height: 6px;
    position: absolute;
    top: -7px;
    border-radius: 50%;
    box-shadow: 0 0 7px 0 #2d2d2d;
  }
}