.owl-carousel-brands {
	padding: 13px 0;
	margin-bottom: 40px;
	background-image: linear-gradient(
		to right, 
		#cacaca,  
		#f2f2f2, 
		#cacaca
	);
	border-radius: 5px;
	.owl-prev {
	  position: absolute;
	  width: 20px;
	  height: 27px;
	  top: 50%;
	  left: 0;
	  transform: translateY(-50%);
	  background-position-x: -10px;
	  background-position-y: -29px;
	  background-repeat: no-repeat;
	  background-image: url(../img/slide-left.png);
	  &:hover {
	  	background-position-x: -41px;
	  }
	}
	.owl-next {
	  position: absolute;
	  width: 20px;
	  height: 27px;
	  top: 50%;
	  right: 0;
	  transform: translateY(-50%);
	  background-position-x: 0;
	  background-position-y: -29px;
	  background-repeat: no-repeat;
	  background-image: url(../img/slide-right.png);
	  &:hover {
	  	background-position-x: -31px;
	  }
	}
}

.carousel-brands__slide {
	width: 135px;
	margin: 0 auto;
	img {
		width: 100%;
		height: auto;
	}
}

.carousel-brands__slide-txt {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 5px;
	height: 65.1px;
	background-color: #fff;
	word-wrap: break-word;
	line-height: 1;
	color: @color3;
}