.breadcrumbs {
	padding: 20px 30px 10px;
	font-family: @font1;
	color: @color4;
	font-size: 12px;
	ul {
		margin: 0;
		padding: 0; 
		list-style: none;
		li {
			position: relative;
			float: left;
			padding-right: 25px;
			&:after {
				position: absolute;
				top: 1px;
				right: 10px;
				content: '/';
				font-size: 14px;
			}
			a {
				color: inherit;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
		li:last-child{
			padding-right: 0;
			&:after {
				content: '';
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	.active {
		color: @color3;
		text-decoration: none;
	}
	@media (max-width: 991px) {
		padding: 10px 30px 10px;
	}
	@media (max-width: 767px) {
		padding: 70px 0 10px;
	}
}