.btn {
	margin: 15px auto 0 auto;
	padding: 10px 20px;
	// display: block;
	border: none;
	border-radius: 4px;
	background: linear-gradient(to bottom, #bf0c30, #e80c3b);
	color: #fff;
	font-family: Arial, sans-serif;
	&:hover {
		text-decoration: underline;
		color: #fff;
	}
}