.call-us {
	margin-bottom: 40px;
	padding: 40px 0;
    background-image: linear-gradient(
    	to right, 
    	@color1 5%, 
    	#f2f2f2 20%, 
    	#f2f2f2 80%, 
    	@color1 95% 
    );
    p {
    	margin-top: 0;
    	margin-bottom: 5px;
    	font-size: 18px;
    }
    @media (max-width: 767px) {
		background-image: linear-gradient(to right, @color1 , #f2f2f2, @color1);
    }
}

.call-us__inner-wrap {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 850px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}
}

.call-us-column-left {
	width: 47%; 
	font-size: 22px;
	text-align: right;
	color: @color3;
}

.call-us-column-middle {
	width: 6%;
	text-align: center;
	font-size: 40px;
	color: @color3;
	.icon-telephone	{
		font-size: 30px;
	}
}

.call-us-column-right {
	width: 47%; 
	font-size: 22px;
	text-align: left;
	color: @color4;
}

[class*="call-us-column"] {
	@media (max-width: 767px) {
		float: none;
		width: 100% !important;
		text-align: center !important;
		font-size: 18px !important;
		&:nth-child(2) {
			margin-top: 15px;
			margin-bottom: 10px;
			.icon-telephone {
				font-size: 26px;
			}
		}
	}
}

.call-us__phone { 
	display: block;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	font-weight: bold;
	color: @color4;
	&:hover {
		text-decoration: none;
		color: @color3;
	}
	@media (max-width: 767px) {
		text-align: center !important;
		font-size: 19px !important;
	}
}