.contacts-info {
	font-size: 20px;
	p {
		display: block;
		margin-bottom: 20px;
	}
	a {
		display: inline-block;
		margin-top: 10px;
		color: inherit;
		&:hover {
			text-decoration: none;
			color: @color2;
		}
	}
	span.icon {
		vertical-align: text-bottom;
	}
	@media (max-width: 991px) {
		margin-bottom: 30px;
		p {
			margin-bottom: 20px;
		}
	}
	@media (max-width: 767px) {
		margin-bottom: 20px;
		font-size: 18px;
		p {
			margin-bottom: 20px;
		}
	}
}
.contacts-page {
	.requisites__title {
		margin-bottom: 25px;
	}
	.col-md-4 {
		width: 29%;
	}
	.col-md-8 {
		width: 71%;
	}
	@media (max-width: 991px) {
		.col-md-4,
		.col-md-8 {
			width: 100%;
		}
	}
}