.contact-us {
	margin-top: 30px;
	padding-bottom: 30px;
	font-family: @font1;
	clear: both;
	p {
		text-align: center;
		font-size: 18px;
	}
	h2 {
		margin-top: 0;
		text-align: center;
	}
}

.contact-us__form {
	max-width: 850px;
	margin: 20px auto;
	input {
		width: 100%;
		padding: 10px 15px;
		border: none;
		&::-webkit-input-placeholder {color:@color3;}
		&::-moz-placeholder          {color:@color3;
									  opacity: 1;}/* Firefox 19+ */
		&:-moz-placeholder           {color:@color3;
									  opacity: 1;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:@color3;}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	textarea {
		width: 100%;
		padding: 10px 15px;
		border: none;
		resize: none;
		&::-webkit-input-placeholder {color:@color3;}
		&::-moz-placeholder          {color:@color3;
									  opacity: 1;}/* Firefox 19+ */
		&:-moz-placeholder           {color:@color3;
									  opacity: 1;}/* Firefox 18- */
		&:-ms-input-placeholder      {color:@color3;}
	}
	button {
		margin: 15px auto 0 auto;
		padding: 10px 20px;
		display: block;
		border: none;
		border-radius: 4px;
		background: linear-gradient(to bottom, #bf0c30, #e80c3b);
		color: #fff;
		font-family: Arial, sans-serif;
		&:hover {
			text-decoration: underline;
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	@media (max-width: 767px) {
		.contact-us__form {
			// input {
			// 	margin-right: 0;
			// 	width: 100%;
			// }
			button {
				width: 100%;
				margin-top: 0;
			}
		}
	}
}

.contact-us__info-text {
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
}

@media (max-width: 767px) {
	.contact-us__info-text {
		font-size: 18px;
	}
}

.form__input-wrap {
	margin-bottom: 15px;
	margin-right: 4%;
	width: 48%;
	float: left;
	position: relative;
	&:nth-child(2n) {
		margin-right: 0;
	}
	@media (max-width: 767px) {
		margin-right: 0;
		width: 100%;
	}
}

.form__textarea-wrap {
	margin-bottom: 15px;
	position: relative;
	clear: both;
}

.form__tooltip {
	display: none;
	padding: 0 3px;
	margin: 0 !important;
	font-size: 13px;
	color: @color2;
	border: 1px solid @color2;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	left: 15px;
	top: -10px;
	@media (max-width: 767px) {
		font-size: 10px;
	}
}