.diploma-block {
	.item:hover .overlay {
		opacity: 1;
	}
	.diploma--show-more,
	.diploma--hide {
		margin-bottom: 10px;
		float: right;
		background-color: transparent;
		border: none;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.diploma--hide {
		display: none;
	}
	.owl-prev {
	    position: absolute;
	    width: 20px;
	    height: 27px;
	    top: 50%;
	    left: 0;
	    transform: translateY(-50%);
	    background-position-x: -10px;
	    background-position-y: -29px;
	    background-repeat: no-repeat;
	    background-image: url(../img/slide-left.png);
	    &:hover {
	  		background-position-x: -41px;
	    }
	}
	.owl-next {
	    position: absolute;
	    width: 20px;
	    height: 27px;
	    top: 50%;
	    right: 0;
	    transform: translateY(-50%);
	    background-position-x: 0;
	    background-position-y: -29px;
	    background-repeat: no-repeat;
	    background-image: url(../img/slide-right.png);
	    &:hover {
	  		background-position-x: -31px;
	    }
	}
}
@media (max-width: 767px) {
	.diploma-block {
		padding-left: 0;
		padding-right: 0;
	}
}