.form-preloader {
	width: 100%;
	height: 170px;
	padding-top: 50px;
	border-radius: 4px;
	text-align: center;
	svg {
		width: 100px;
		height: auto;
	}
}

@keyframes large-gear {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
@keyframes medium-gear {
	0% { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}
@keyframes small-gear {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.large-gear {
	transform-origin: 461.37px 173.694px;
	animation: large-gear 5.3333s linear infinite;
}
.medium-gear {
	transform-origin: 254.675px 379.447px;
	animation: medium-gear 4s linear infinite;
}
.small-gear {
	transform-origin: 100.136px 225.345px;
	animation: small-gear 2.6666s linear infinite;
}