.gallery {
	padding: 0 30px 80px;

	.column {
		max-width: none;
		width: 24%;
		margin-right: 1.33333333%;
		text-align: center;
		a {
			font-family: @font1;
			color: inherit;
			font-size: 14px; 
		}
		> img {
			width: 100%;
		}
		&:nth-child(4n) {
			margin-right: 0; 
		}
		@media (max-width: 660px) {
			width: 31%;
			max-width: none;
			margin-right: 3.5%;
			&:nth-child(4n) {
				margin-right: 3.5%;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		@media (max-width: 400px) {
			width: 48%;
			margin-right: 4%;
			&:nth-child(4n) {
				margin-right: 4%;
			}
			&:nth-child(3n) {
				margin-right: 4%;
			}
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	.item {
		max-width: none;
		&:hover .overlay{
			opacity: 1;
		}
	}
	@media (max-width: 767px) {
		padding-left: 0;
		padding-right: 0;
	}
}