#gears {
	position: fixed;
	top: -6px;
	z-index: -1;
}

#gear1 {
	position: absolute;
	top: 178px;
	right: 0px;
	width: 252px;
	height: 254px;
	background-image: url(../img/gear1.png);
}

#gear2 { 
	position: absolute;
	top: 142px;
	right: 208px;
	width: 126px;
	height: 125px;
	background-image: url(../img/gear2.png);
}

#gear3 {
	position: absolute;
	top: -102px;
	right: 99px;
	width: 270px;
	height: 268px;
	background-image: url(../img/gear3.png);
}

#gear4 {
	position: absolute;
	top: -50px;
	right: 345px;
	width: 132px;
	height: 126px;
	background-image: url(../img/gear4.png);
}