#go-to-top-wrap {
	position: fixed;
	bottom: 258px;
	height: 1px;
	right: 0; 
	z-index: 100;
	opacity: 0;
	transition: opacity 600ms linear;
	@media (max-width: 767px) {
		display: none !important;
	}
}

#go-to-top {
	cursor: pointer;
	padding-left: 5px;
	padding-top: 3px;
	width: 40px;
	height: 40px;
	background-color: @color4;
	position: absolute;
	left: -40px;
	z-index: 100;
}