.map-info {
	padding: 30px;
	text-align: center;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}
@media (max-width: 767px) {
	.map-info {
		padding: 30px 0;
	}
}

.warehouse-title {
	display: block;
	margin-top: 0;
	margin-bottom: 17px;
	font-family: @font1;
	font-size: 18px; 
	text-align: left;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

.map-text {
	margin-bottom: 27px;
	text-align: left;
}

.map-info__list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
	font-family: @font1;
	font-weight: bold;
	li {
		margin-top: 5px;
		margin-bottom: 13px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	a {
		color: @color3;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.active {
		text-decoration: none !important;
		color: @color2;
	}
}

.map__contact-info {
	padding: 5px 0;
	font-size: 0;
	text-align: left;
	li {
		display: inline-block;
		margin-bottom: 10px;
		padding-left: 50px;
		width: 50%;
		text-align: left;
		font-size: 17px;
		vertical-align: top;
		@media (max-width: 767px) {
			font-size: 15px;
		}
		@media (max-width: 600px) {
			width: 100%;
			padding-left: 10px;
		}
	}
	a {
		text-decoration: none;
		color: inherit;
		&:hover {
			color: @color2;
		}
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

#map {
	margin-bottom: 10px;
	border: 1px solid #aaaaaa;
}