.old-browser-wrap {
	padding: 35px 0;
	width: 100%;
	text-align: center;
	background-color: @color1;
	border: 3px solid darken(@color1, 5%);
	position: fixed;
	z-index: 2000;
	ul {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	li {
		display: inline-block;
		margin: 0 10px;
	}
	img {
		max-width: 64px;
		max-height: 64px;
		margin-right: 10px;
	}
} 