.popup-inner {
	max-width: 800px;
	margin: 0 auto;
	padding: 30px 15px;
	border: 2px solid @color2;
	background-color: #ebebeb;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	z-index: 150;
	span {
		display: inline-block;
	}
	table {
		width: 100%;
		td {
			&:first-child {
				text-align: left;
				width: 60%;
			}
			&:last-child {
				text-align: right;
				width: 26px;
			}
		}
		@media (max-width: 767px) {
			td {
				display: block;
				width: 100% !important;
				text-align: center !important;
				&:last-child {
					width: 26px !important;
					position: absolute;
					top: 7px;
					right: 10px;
				}
			}
		}
	}
}

.popup-order-btn {
	margin: 15px auto 0 auto;
	padding: 5px 20px;
	display: inline-block;
	border: none;
	border-radius: 4px;
	background: linear-gradient(to bottom, #bf0c30, #e80c3b);
	color: #fff;
	font-family: Arial, sans-serif;
	&:hover {
		text-decoration: underline;
		color: #fff;
	}
}

.popup-quantity {
	font-weight: bold;
}

.popup-add-icon {
	width: 20px;
	height: 16px;
	background-image: url(../img/to_cart.png);
    background-position: 0 -20px;
}

.popup-added {
	color: @color2;
	font-weight: bold;
}

#close-popup {
	color: @color3;
	border: none;
	background-color: #ebebeb;
}