.order-table {
	max-width: 850px;
	margin: 50px auto;	
	td {
		&.has-img {
			padding-left: 23px !important;
		}
		&:nth-last-of-type(2) {
			width: 150px;
		}
	}
	input {
		margin-right: 3px;
	}
	@media (max-width: 767px) {
		thead {
			position: absolute;
			left: -9999px;
		}
		td {
			padding-left: 50% !important;
			position: relative;
			&:before {
				position: absolute;
				top: 2px; 
				left: 3px;
				width: 45%; 
				padding-right: 10px; 
				white-space: nowrap;
			}
			&:nth-of-type(1):before { content: "Наименование"; }
			&:nth-of-type(2):before { content: "Артикул"; }
			&:nth-of-type(3):before { content: "Количество"; }
			&:nth-of-type(4):before { content: "Удалить"; }
			&.has-img {
				padding-left: ~"calc(50% + 20px)" !important;
			}
		}
		.product-image-icon {
			left: 50%;
		}
	}
}

.order-table__add2cart {
	float: left;
	padding: 10px;
	border: none;
	background-color: transparent;
	background-image: url(../img/to_cart.png);
	transition: visibility 300ms ease,
				opacity 300ms ease;
	&--added {
		background-position-y: 22px;
	}
}

.clear-order-btn {
	padding: 10px;
	border: none;
	background-color: transparent;
	background-image: url(../img/cross.png);
	background-position: -3px 0px;
	background-repeat: no-repeat;
}