.page404 {
	background-color: #e6e7e7; 
	height: 100vh; 
	min-height: 500px; 
	background-image: url(../img/404.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	position: relative;
	&__inner {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		width: 100%;
		max-width: 650px;
		font-family: @font1;
		text-align: center;
		h1 {
			margin: 0;
			font-size: 150px;
			line-height: 150px;
			color: @color2;
		}
		p {
			font-size: 23px;
		}
		a {
			color: @color2;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		@media (max-width: 767px) {
			h1 {
				font-size: 120px;
			}
			p {
				margin-top: 10px;
				font-size: 18px;
			}
		}
	}
}

