.paginator {
	height: 21px;
	text-align: right;
	ul {
		display: inline-block;
		margin: 0;
		padding: 0;
		list-style: none;
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	li {
		float: left;
		padding: 0 5px;
		font-size: 15px;
		a {
			text-decoration: underline;
			color: inherit;
			&.active {
				text-decoration: none !important;
			}
			&:hover {
				text-decoration: none;
			}
		}
		&:before {
			content: '';
			display: none;
		}
	}
	&--center {
		text-align: center;
	}
}