.search-results-list {
	margin: 20px 0;
	padding-left: 20px;
	li {
		list-style: none;
		margin-bottom: 25px;
		position: relative;
		&:before {
			padding-right: 15px;
			content: '•';
			color: @color2;
			font-size: 24px;
			position: absolute;
			left: -20px;
			top: -7px;
		}
	}
	p {
		margin-top: 0;
	}
	a {
		color: inherit;
		&:hover {
			color: @color2;
		}
	}
}