.side-catalog-container {
    padding: 4px 0;
    margin-bottom: 20px;
    background-color: #c0c0c0;
    border-radius: 4px;
    color: @color3;
    font-family: @font1;
    line-height: 1;
    box-shadow:
		inset 0 1px 3px -1px black, 
		0 1px 2px -1px white;

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }
}

.side-catalog {
    &:last-child {
        padding-bottom: 0;
        
        .side-catalog__list {
            padding-bottom: 0;
        }

        .side-catalog__list-item:last-child {
            &:before,
            &:after {
                display: none;
            }
        }
    }

    @media (min-width: 992px) {
        padding-bottom: 4px;
    }
}

.side-catalog__title {
    padding: 4px 20px 4px 7px;
    color: @color2;
    text-transform: uppercase;
    position: relative;

    .side-catalog__toggle {
        top: 1px;
    }

    @media (min-width: 992px) {
        .side-catalog__toggle {
            display: none;
        }
    }
}

.side-catalog__list-item {
    position: relative;
    
    &:before {
        content: '';
        display: block;
        height: 3px;
        background-image: radial-gradient(ellipse at bottom, rgba(170, 170, 170, 0.70), transparent);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1px;
    }
    &:after {
        content: '';
        display: block;
        height: 1px;
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7), transparent);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    & > a {
        padding: 3px 20px 5px 7px;
        text-transform: uppercase;

        &:hover {
            color: #fff;
            background-color: #98989a;
        }
    }
}

.side-catalog__list {
    padding: 4px 0;
    display: none;

    @media (min-width: 992px) {
        display: block !important;
    }
}

// .side-catalog__list-item-dropdown {
//     & > a {
//         padding-right: 20px;
//     }
// }

.side-catalog__list-item-dropdown--open {
    background-color: @color1;
    box-shadow:
        inset 1px 0 2px -1px #737373, 
        inset -1px 0 2px -1px #737373;
}

.side-catalog__toggle {
    padding: 6px 11px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -1px;
    right: 0;

    span {
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 8px solid #838383;
    }

    &:hover {
        span {
            border-left-color: #fff;
        }
    }

    @media (min-width: 767px) {
        top: 1px;
    }
}

.side-catalog__toggle--active {
    top: 2px;
    
    span {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #838383;
    }

    &:hover {
        span {
            border-left-color: transparent;
            border-top-color: #fff;
        }
    }
}

.side-catalog__sublist {
    padding-bottom: 4px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

.side-catalog__sublist-item {
    padding-left: 17px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;

    &:before {
        content: '•';
        font-size: 20px;
        position: absolute;
        left: 7px;
        top: 2px;
    }

    &:hover {
        color: #fff;
        background-color: #98989a;
    }
}

.side-catalog__sublist-item--active {
    color: @color2;
}