.side-slider {
	width: 100%;
	max-width: 160px; 
	float: right;
	text-align: center;
	.item {
		> img {
			border: 3px solid transparent;
		}
	}
	h6 { 
		margin: 0;
		margin-top: 7px;
		font-size: 14px;
	}
	@media (max-width: 991px) {
		margin-left: 15px;
	}
	@media (max-width: 530px) {
		float: none;
		max-width: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 220px;
	}
	@media (min-width: 531px) {
		.owl-item {
			width: 160px !important;
		}
		.owl-stage-outer {
			width: 160px !important;
		}
	}
}