.sitemap-section {
    .first-lvl {
        list-style-type: none;
    }
    .second-lvl {
        padding-left: 40px;
        list-style-type: none;
    }
    .third-lvl {
        padding-left: 60px;        
    }
}