.view-toggle {
	padding: 10px 0;
	font-size: 0;
	text-align: right;
}

.list-view-btn {
	padding: 10px;
	margin-left: 10px;
	border: none;
	background-image: url(../img/table-btn.png);
}

.grid-view-btn {
	padding: 10px;
	margin-left: 10px;
	border: none;
	background-image: url(../img/grid-btn.png);
}