.ckeditor-style {
	/* обычный текст как Н2 */
	p>big, big {
		font-family: @font1 !important;
	    font-size: 20px;
	    padding: 2px 0;
	    display: inline-block;
	}
	/* обычный текст как Н3 */
	p>tt, tt {
		font-family: @font1 !important;
	    font-size: 18px;
	    padding: 2px 0;
	    display: inline-block;
	}
	/* обычный текст как Н4 */
	p>code, code {
		font-family: @font1 !important;
	    font-size: 17px;
	    padding: 2px 0;
	    display: inline-block;
	}
	/* обычный текст как Н5 */
	p>kbd, kbd {
		font-family: @font1 !important;
	    font-size: 14px;
	    padding: 2px 0;
	    display: inline-block;
	}
	/* обычный текст как Н6 */
	p>small, small {
		font-family: @font1 !important;
	    font-size: 12px;
	    padding: 2px 0;
	    display: inline-block;
	}
	h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin-bottom: 10px;
	}
	/*все заголовки как обычный текст*/
	h2>samp, h3>samp, h4>samp, h5>samp, h6>samp {
		margin-top: 0;
		margin-bottom: 10px;
		font-family: Arial, sans-serif !important;
		font-size: 17px !important;
		color: @color3 !important;
		font-weight: normal !important;
	}
	/*все заголовки как обычный жирный текст*/
	h2>strong, h3>strong, h4>strong, h5>strong, h6>strong {
		margin-top: 0;
		margin-bottom: 10px;
		font-family: Arial, sans-serif !important;
		font-size: 17px !important;
		color: @color3 !important;
		font-weight: bold !important;
	}
	img {
		max-width: 100% !important;
		height: auto !important; 
	}
	p > img {
		margin-bottom: 10px;
	}
	p {
		margin: 10px 0;
		font-family: Arial, sans-serif !important;
		font-size: 17px !important;
		color: @color3 !important;
	}
	ul {
		margin: 10px 0 !important;
		padding-left: 19px !important;
		list-style: initial !important;
	}
	ol {
		padding-left: 20px !important;
		list-style-type: decimal !important;
	}
	ol ul {
		list-style-type: circle !important;
	}
	table td {
		padding: 3px;
	}
	table th {
		text-align: center;
		padding: 3px;
	}
	@media (max-width: 767px) {
		tt {
			font-size: 18px !important;
		}
		code {
			font-size: 17px !important;
		}
		p, span {
			font-size: 15px !important;
		}
		h2>samp, h3>samp, h4>samp, h5>samp, h6>samp,
		h2>strong, h3>strong, h4>strong, h5>strong, h6>strong {
			font-size: 15px !important;	
		}
	}
}

.ckeditor__logo-table {
	width: 100% !important;
	tr, td {
		display: block !important;
	}
	tr {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	td {
		margin: 10px 0 !important;
		padding: 0 3px !important;
		width: 20% !important;
		text-align: center !important;
		float: left !important;
		&:first-of-type {
			padding-left: 0 !important;
			text-align: left !important;
		}
		&:nth-of-type(5n) {
			padding-right: 0 !important;
			text-align: right !important;
		}
		&:nth-of-type(5n+1) {
			padding-left: 0 !important;
			text-align: left !important;
		}
		img {
			margin: 0 !important;
			max-width: 100% !important;
			height: auto !important;
		}
	}
	@media (max-width: 991px) {
		td {
			width: 25% !important;
			&:nth-of-type(5n) {
				padding-right: 3px !important;
				text-align: center !important;
			}
			&:nth-of-type(5n+1) {
				padding-left: 3px !important;
				text-align: center !important;
			}

			&:nth-of-type(4n) {
				padding-right: 0 !important;
				text-align: right !important;
			}
			&:nth-of-type(4n+1) {
				padding-left: 0 !important;
				text-align: left !important;
			}
			&:first-of-type {
				padding-left: 0 !important;
				text-align: left !important;
			}
		}
	}
	@media (max-width: 600px) {
		td {
			width: 33.33333% !important;
			&:nth-of-type(5n) {
				padding-right: 3px !important;
				text-align: center !important;
			}
			&:nth-of-type(5n+1) {
				padding-left: 3px !important;
				text-align: center !important;
			}

			&:nth-of-type(4n) {
				padding-right: 3px !important;
				text-align: center !important;
			}
			&:nth-of-type(4n+1) {
				padding-left: 3px !important;
				text-align: center !important;
			}

			&:nth-of-type(3n) {
				padding-right: 0 !important;
				text-align: right !important;
			}
			&:nth-of-type(3n+1) {
				padding-left: 0 !important;
				text-align: left !important;
			}
		}
	}
	@media (max-width: 380px) {
		td {
			width: 50% !important;
			&:nth-of-type(5n) {
				padding-right: 3px !important;
				text-align: center !important;
			}
			&:nth-of-type(5n+1) {
				padding-left: 3px !important;
				text-align: center !important;
			}

			&:nth-of-type(4n) {
				padding-right: 3px !important;
				text-align: center !important;
			}
			&:nth-of-type(4n+1) {
				padding-left: 3px !important;
				text-align: center !important;
			}

			&:nth-of-type(3n) {
				padding-right: 3px !important;
				text-align: center !important;
			}
			&:nth-of-type(3n+1) {
				padding-left: 3px !important;
				text-align: center !important;
			}

			&:nth-of-type(2n) {
				padding-right: 0 !important;
				text-align: right !important;
			}
			&:nth-of-type(2n+1) {
				padding-left: 0 !important;
				text-align: left !important;
			}
		}
	}
}