@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?15uqv3');
  src:  url('../fonts/icomoon.eot?15uqv3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?15uqv3') format('truetype'),
    url('../fonts/icomoon.woff?15uqv3') format('woff'),
    url('../fonts/icomoon.svg?15uqv3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.icon {
  font-family: 'icomoon' !important;
}

.icon-help-button:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e902";
}
.icon-placeholder:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-shopping-cart:before {
  content: "\e905";
}
.icon-shopping-cart-filled:before {
  content: "\e906";
}
.icon-telephone:before {
  content: "\e907";
}
.icon-vbo:before {
  content: "\e908";
}

.icon-shopping-cart, .icon-shopping-cart-filled {
  margin-right: 2px !important;
}

@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url(../fonts/opensans-semibold-webfont.eot);
    src: url(../fonts/opensans-semibold-webfont.eot?#iefix) format('embedded-opentype'), 
         url(../fonts/opensans-semibold-webfont.woff) format('woff'), 
         url(../fonts/opensans-semibold-webfont.ttf) format('truetype'), 
         url(../fonts/opensans-semibold-webfont.svg#open_sans_semiboldregular) format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'archiveregular';
  src: url('../fonts/archive-webfont.eot');
  src: url('../fonts/archive-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archive-webfont.woff') format('woff'),
       url('../fonts/archive-webfont.ttf') format('truetype'),
       url('../fonts/archive-webfont.svg#archiveregular') format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}