html, body {
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 17px;
	color: @color3;

	@media (max-width: 767px) {
		font-size: 15px;
	}
}

body {
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
	position: relative;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: @font1;
	word-wrap: break-word;
}
h1, h2 { 
	font-size: 20px;
	@media (max-width: 767px) {
		font-size: 18px;
	}
}
h3 {
	font-size: 18px;
	@media (max-width: 767px) {
		font-size: 17px;
	}
}

h3 {
	&.fake-h {
		font-size: 20px;
		@media (max-width: 767px) {
			font-size: 18px;
		}
	}
}

h4 {
	&.fake-h {
		font-size: 20px;
		@media (max-width: 767px) {
			font-size: 18px;
		}
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

* {
	outline: none !important;
	&::selection {
		background: #afafaf;
	}
	&::-moz-selection {
		background: #afafaf;
	}
}

.page-wrap {
	position: relative;
	min-height: 100%;
}

.page-container-bg {
	min-height: 1000px;
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;
	background-color: @color1;
	box-shadow: -20px -100px 150px #000; 
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 0;
		left: -15px;
		height: 100%;
		background-image: url(../img/part-gray.png);
		background-repeat: repeat-y, repeat-y;
		background-position: 0 0;
		background-size: 21px 24px;
		width: 15px;
	}
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1040px;
	}
}
@media (max-width: 767px) {
	.page-container-bg {
		padding-top: 0;
	}
}

.column-wrapper {
	font-size: 0;
	text-align: left;
	.owl-prev {
		position: absolute;
		width: 20px;
		height: 27px;
		top: 50%;
		left: -20px;
		transform: translateY(-50%);
		background-position-x: -10px;
		background-position-y: -29px;
		background-repeat: no-repeat;
		background-image: url(../img/slide-left.png);
		&:hover {
			background-position-x: -41px;
		}
	}
	.owl-next {
		position: absolute;
		width: 20px;
		height: 27px;
		top: 50%;
		right: -20px;
		transform: translateY(-50%);
		background-position-x: 0;
		background-position-y: -29px;
		background-repeat: no-repeat;
		background-image: url(../img/slide-right.png);
		&:hover {
			background-position-x: -31px;
		}
	}
	&:before {
		content: '';
		display: table;
		clear: both;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
}
@media (max-width: 767px) {
	.column-wrapper {
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
}

.column {
	display: inline-block;
	vertical-align: top;
	margin-right: 4.75%;
	width: 16.2%;
	max-width: 155px;
	font-size: 16px;
	&:nth-child(5n) {
		margin-right: 0;
	}
	@media (max-width: 991px) {
		width: 20%;
		margin-right: 6.66666667%;
		&:nth-child(5n) {
			margin-right: 6.66666667%;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
	}	
	@media (max-width: 767px) {
		font-size: 14px;
	}	
	@media (max-width: 660px) {
		width: 30%;
		max-width: none;
		margin-right: 5%;
		&:nth-child(5n) {
			margin-right: 5%;
		}
		&:nth-child(4n) {
			margin-right: 5%;
		}
		&:nth-child(3n) {
			margin-right: 0%;
		}
	}	
	@media (max-width: 400px) {
		width: 48%;
		max-width: none;
		margin-right: 4%;
		&:nth-child(5n) {
			margin-right: 4%;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		&:nth-child(3n) {
			margin-right: 4%;
		}
		&:nth-child(2n) {
			margin-right: 0;
		}
	}	
}




.item {
	margin: 0 auto 25px auto;
	max-width: 155px;
	text-align: center;
	font-family: @font1;
	position: relative;
	a {
		display: block;
		color: @color3;
		&:hover img {
			border-color: darken(@color1, 15%);
		}
		&:hover .no-img-box{
			border-color: darken(@color1, 15%);
		}
	}
	img {
		width: 100%;
		height: auto;
		background-color: #fff;
		border: 3px solid lighten(@color1, 5%);
		transition: 250ms linear;
	}
	span {
		display: inline-block;
		margin-top: 8px;
	}
}

.link {
	color: @color2;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
		color: @color2;
	}
}

.active, .highlighted {
	color: @color2;
}

.padding-l-0 {
	padding-left: 0;
}

.padding-r-0 {
	padding-right: 0;
}

.clock {
	color: #fff;
}

.overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .35);
	opacity: 0;
	transition: all 300ms linear;
	img.overlay-img {
		margin: 0 auto;
		width: 40px;
		height: auto;
		background-color: transparent;
		border: none;
		top: 50%;
	    position: relative;
	    transform: translateY(-50%);
	}
}

#ask-question {
	cursor: pointer;
	position: fixed;
	z-index: 20;
	top: 40%;
	right: -265px;
	height: 50px;
	width: 250px;
	padding: 0 5px;
	padding-bottom: 5px;
	background-color: @color4;
	transition: all 600ms linear;
	a {
		vertical-align: middle;
		color: #fff;
		font-size: 24px;
		font-family: @font1;
		.icon-help-button {
			font-size: 35px;
			vertical-align: middle;
			margin-right: 15px;
		}
		&:hover {
			text-decoration: none;
		}
	}
	&:before {
		content: ''; 
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
	&:hover {
		right: 0 !important;
	}
	@media (max-width: 991px) {
		height: 40px;
		padding: 0;
		padding-left: 1px;
		padding-bottom: 6px;
		a {
			.icon-help-button {
				font-size: 30px;
			}
		}
	}
}
.ask-question--show {
	right: -195px !important;
	&:hover {
		right: 0;
	}
	@media (max-width: 991px) {
		right: -210px !important;
	}
}

.info-block {
	margin-bottom: 30px;
	padding: 0 30px;
	img {
		max-width: 100% !important;
		height: auto !important;
	}
	p {
		margin: 10px 0;
	}
	ul {
		margin: 10px 0;
		padding-left: 19px;
		list-style: initial;
	}
	.banner {
		width: 100%;
		height: auto;
		margin-bottom: 25px;
	}
	ol {
		padding-left: 20px;
		list-style-type: lower-alpha;
	}
	.articles-group {
		padding: 0;
	}
	@media (max-width: 767px) {
		padding: 0;
	}
}

.hidden-info {
	display: none;
}

.video-wrapper {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.video-section {
	padding: 0 40px;
}

.separator {
	width:100%; 
	height: 9px;
  	background-image: url(../img/separator.png);
  	background-size: cover;
  	background-position: center;
}

.float-wrap {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.hidden-block {
	display: none;
}

.txt-justify {
	text-align: justify;
}

.txt-center {
	text-align: center;
}

.txt-aside {
	width: 735px;
	@media (max-width: 1199px) {
		width: 650px;
	} 
	@media (max-width: 767px) {
		width: 100%;
	}
}

.txt-mb-15 {
	display: inline-block;
	margin-bottom: 15px;
}

.txt-mb-5 {
	display: inline-block;
	margin-bottom: 5px;
}

.hidden-sm {
	@media (max-width: 991px) {
		display: none;
	}
}
.visible-sm {
	display: none;
	@media (max-width: 991px) {
		display: block;
	}
}
.hidden-xs {
	@media (max-width: 767px) {
		display: none;
	}
}
.visible-xs {
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}

.notification {
	font-size: 22px;
	@media (max-width: 767px) {
		font-size: 20px;
	}
}

.of-visible {
	overflow: visible !important;
}

.float-l {
	float: left !important;
}

.invisible {
	visibility: hidden !important;
	opacity: 0 !important;
}

.no-img-box {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0 0 0 3px transparent;
    transition: all 300ms ease;
	&:before {
		content: "";
	    display: block;
		padding-top: 48.24%;
	}
	&:hover {
		box-shadow: 0 0 0 3px darken(@color1, 15%);
	}
}

.no-img-content {
	position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
    	margin: 0;
    }
}