<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{% block title%}{% endblock %} | Сфера</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="favicon/manifest.json">
	<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
    {% block css %}
    {% endblock %}
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <div id="gears" class="gears">
        <div id="gear1"></div>
        <div id="gear2"></div>
        <div id="gear3"></div> 
        <div id="gear4"></div>
    </div>

    <div id="go-to-top-wrap">
        <div id="go-to-top">
            <img src="img/to-top.svg" alt="">
        </div>
    </div>

    <div class="popup-overlay" id="ask-popup">
        <div class="popup-overlay__inner container">
            <section class="contact-us">
                <div class="contact-us__info-text">
                    Задать вопрос
                </div>
                <span id="close-ask-popup">✖</span>
                <form action="" class="contact-us__form">
                    <div class="form__input-wrap">
                        <span class="form__tooltip">Lorem ipsum dolor.</span>
                        <input name="" type="text" placeholder="Имя">
                    </div>
                    <div class="form__input-wrap">
                        <input class="phone-mask" name="" type="text" placeholder="Телефон">
                    </div>
                    <div class="form__input-wrap">
                        <input name="" type="text" placeholder="E-mail">
                    </div>
                    <div class="form__input-wrap">
                        <input name="city" type="text" placeholder="Ваш город">
                    </div>
                    <div class="form__textarea-wrap">
                        <span class="form__tooltip">Lorem ipsum dolor.</span>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Чем мы можем вам помочь?"></textarea>
                    </div>
                    <button>Отправить</button>
                </form>
            </section>
        </div>
    </div>

    {% block extra_content %}
    {% endblock %}

    <div class="page-wrap" id="page-wrap">
        <div class="page-container-bg">
            {% include "includes/header.html" %}
            <div class="container">
                {% block main_content %}
                {% endblock %}
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/mask.js"></script>
    <script src="js/script.js"></script>
    {% block scripts %}
    {% endblock %}
</body>